@page
@using Microsoft.AspNetCore.Antiforgery
@using Routes.Areas.Admin.Pages
@model Ogma3.Areas.Admin.Pages.Users.Index
@inject IAntiforgery Antiforgery

@{
	ViewData["Title"] = "Users";
	ViewData["ActivePage"] = NavPages.Users;
	var csrf = Antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<nav>
	<a for-route="@Users_Create.Get()">Create</a>
</nav>

<div
	id="users-app"
	data-csrf="@csrf"
	data-infractions="@Model.InfractionNamesJson"
	data-roles="@Model.RolesJson"
	data-name="@Model.Name"
></div>


@section Scripts {
	<script type="module" src="~/js/admin/users.js" asp-append-version="true"></script>
}