@page
@using System.Runtime.CompilerServices
@model Ogma3.Pages.Blog.CreateModel

@{
    ViewData["Title"] = "Create Blogpost";
}

<h1>@ViewData["Title"]</h1>

<form class="form" id="blogpost" method="post" v-on:submit="onSubmit">
    
    <div asp-validation-summary="All">
        <span>Please correct the following errors</span>
    </div>
    
    <input-counter ref="title"
        :min="@(CTConfig.CBlogpost.MinTitleLength)"
        :max="@CTConfig.CBlogpost.MaxTitleLength"
        validate-msg="@CTConfig.CBlogpost.ValidateLengthMsg"
        label="@nameof(Model.Input.Title)"
        value="@Model.Input.Title">
    </input-counter>
    
    <textarea-counter ref="body"
                      :min="@CTConfig.CBlogpost.MinBodyLength"
                      :max="@CTConfig.CBlogpost.MaxBodyLength"
                      validate-msg="@CTConfig.CBlogpost.ValidateLengthMsg"
                      label="@nameof(Model.Input.Body)"
                      value="@Model.Input.Body">
    </textarea-counter>
    
    <input-blog-tags ref="tags"
                     :max="@CTConfig.CBlogpost.MaxTagsAmount"
                     validate-msg="@CTConfig.CBlogpost.ValidateTagsCountMsg"
                     desc="Comma-separated tags"
                     label="@nameof(Model.Input.Tags)"
                     value="@Model.Input.Tags">
    </input-blog-tags>
    
    @if (Model.Input.StoryMinimal != null)
    {
        <div class="o-form-group">
            <label>Attached story</label>
            <partial name="Shared/_StoryMinimal" model="@Model.Input.StoryMinimal"/>
            <input type="hidden" name="StoryMinimalId" value="@Model.Input.StoryMinimal.Id">
        </div>
    }
    @if (Model.Input.ChapterMinimal != null)
    {
        <div class="o-form-group">
            <label>Attached chapter</label>
            <partial name="Shared/_ChapterMinimal" model="@Model.Input.ChapterMinimal"/>
            <input type="hidden" name="ChapterMinimalId" value="@Model.Input.ChapterMinimal.Id">
        </div>
    }
    @if (Model.Input.IsUnavailable)
    {
        <div class="o-form-group">
            <label>Selected attachment is unavailable.</label>
        </div>
    }
    
    <br>
    
    <div class="o-form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
    
</form>



@section Scripts { 
    <script src="~/js/dist/components/input-blog-tags-component.min.js" asp-append-version="true"></script>
    <script src="~/js/dist/components/input-counter-component.min.js" asp-append-version="true"></script>
    <script src="~/js/dist/components/textarea-counter-component.min.js" asp-append-version="true"></script>   
    <script src="~/js/dist/editors/blogpost.min.js" asp-append-version="true"></script>
}


