@page
@model Ogma3.Pages.Blog.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>@Model.Blogpost.Title</h2>
<div>
    <h3>Are you sure you want to delete this blogpost?</h3>
    <hr />
    
    <dl class="rows">
        <dt>
            Published on:
        </dt>
        <dd>
            @Model.Blogpost.PublishDate
        </dd>
        <dt>
            Published status:
        </dt>
        <dd>
            @(Model.Blogpost.IsPublished ? "Published" : "Not published")
        </dd>
        <dt>
            Comments:
        </dt>
        <dd>
            @Model.Blogpost.CommentsThreadCommentsCount
        </dd>
    </dl>
    
    <form method="post" class="confirm">
        <input type="hidden" asp-for="Blogpost.Id" />
        <div class="buttons">
            <input type="submit" value="Delete" class="button accept red" />
            <a asp-page="./Post" class="button cancel" asp-route-id="@Model.Blogpost.Id" asp-route-slug="@Model.Blogpost.Slug">Cancel</a>
        </div>
    </form>
</div>
