@page "{id:int}"
@model Ogma3.Pages.Blog.EditModel

@{
    ViewData["Title"] = "Edit Blogpost";
}

<h1>@ViewData["Title"]</h1>

<form class="form" id="blogpost" method="post" v-on:submit="onSubmit">
    
    <div asp-validation-summary="ModelOnly" class="text-warning">
        <span>Please correct the following errors</span>
    </div>
    
    <input-counter ref="title"
        :min="@CTConfig.CBlogpost.MinTitleLength"
        :max="@CTConfig.CBlogpost.MaxTitleLength"
        validate-msg="@CTConfig.CBlogpost.ValidateLengthMsg"
        label="@nameof(Model.Input.Title)"
        value="@Model.Input.Title">
    </input-counter>
    
    <textarea-counter ref="body"
        :min="@CTConfig.CBlogpost.MinBodyLength"
        :max="@CTConfig.CBlogpost.MaxBodyLength"
        validate-msg="@CTConfig.CBlogpost.ValidateLengthMsg"
        label="@nameof(Model.Input.Body)"
        value="@Model.Input.Body">
    </textarea-counter>
    
    <div class="o-form-group">
        <input type="submit" value="Update" class="btn btn-primary"/>
    </div>

    
</form>

@section Scripts {
    <script src="/js/dist/components/input-counter-component.min.js" asp-append-version="true"></script>
    <script src="/js/dist/components/textarea-counter-component.min.js" asp-append-version="true"></script>
    <script src="/js/dist/editors/blogpost.min.js" asp-append-version="true"></script>
}

