@page "{id}/{slug?}"
@model Ogma3.Pages.Blog.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blogpost</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blogpost.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blogpost.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blogpost.Slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blogpost.Slug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blogpost.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blogpost.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blogpost.IsPublished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blogpost.IsPublished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blogpost.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blogpost.Body)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Blogpost.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Blogpost.Id">Delete</a>
</div>
