@page "{id}/{slug?}"
@using System.Security.Claims
@model Ogma3.Pages.Blog.DetailsModel

@{
    ViewData["Title"] = Model.Blogpost.Title;
}

<partial name="_ProfileBar" model="@Model.Blogpost.Author"></partial>

<partial name="_BlogpostDetails" model="@Model.Blogpost"></partial>

@if (User.Identity.IsAuthenticated && Model.Blogpost.Author.Id == User.FindFirstValue(ClaimTypes.NameIdentifier))
{
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Blogpost.Id">
            <icon icon="edit"></icon>
        </a>
        <a asp-page="./Delete" asp-route-id="@Model.Blogpost.Id">
            <icon icon="delete_forever"></icon>
        </a>
    </div>
}

<partial name="_Comments" model="@Model.Blogpost.CommentsThread"></partial>