@using Humanizer
<pre>@_sortBy.ToString() @_sortDir.ToString()</pre>

<table>
    <tr>
        <th>
            Table
            <button @onclick="SortName">x</button>
        </th>
        <th colspan="2">
            Size
            <button @onclick="SortSize">x</button>
        </th>
    </tr>
    @foreach (var size in DbSize)
    {
        <tr>
            <td>@size.Name</td>
            <td>@(size.Size)b</td>
            <td>@size.Size.Bits()</td>
        </tr>
    }
</table>
