@using Ogma3.Areas.Admin.Pages.Shared
@using Ogma3.Infrastructure.Constants
<ul class="nav nav-pills flex-column">
	
	<partial name="Shared/_NavItemPartial" model="@(new NavItemPartial(NavPages.Index, "Dashboard"))"/>

	@if (User.Identity is {IsAuthenticated: true } && User.IsInRole(RoleNames.Admin))
	{
		<partial name="Shared/_NavItemPartial" model="@(new NavItemPartial(NavPages.Settings))"/>
		<partial name="Shared/_NavItemPartial" model="@(new NavItemPartial(NavPages.Email, "Mailer"))"/>
	}

	<li class="nav-item">
		Categorization
	</li>
	
	<partial name="Shared/_NavItemPartial" model="@(new NavItemPartial(NavPages.Tags))"/>
	<partial name="Shared/_NavItemPartial" model="@(new NavItemPartial(NavPages.Ratings))"/>
	
	<li class="nav-item">
		Content
	</li>
	
	<partial name="Shared/_NavItemPartial" model="@(new NavItemPartial(NavPages.Quotes))"/>
	<partial name="Shared/_NavItemPartial" model="@(new NavItemPartial("Documents/Index", "Documents"))"/>
	<partial name="Shared/_NavItemPartial" model="@(new NavItemPartial(NavPages.ContentBlock))"/>

	<li class="nav-item">
		Users
	</li>
	
	<partial name="Shared/_NavItemPartial" model="@(new NavItemPartial(NavPages.InviteCodes))"/>
	<partial name="Shared/_NavItemPartial" model="@(new NavItemPartial(NavPages.Roles, "User roles"))"/>
    <partial name="Shared/_NavItemPartial" model="@(new NavItemPartial(NavPages.Users, "User management"))" />
    <partial name="Shared/_NavItemPartial" model="@(new NavItemPartial(NavPages.Infractions, "Infractions"))" />

	<li class="nav-item">
		Other
	</li>

	<partial name="Shared/_NavItemPartial" model="@(new NavItemPartial(NavPages.ModLog))"/>
	<partial name="Shared/_NavItemPartial" model="@(new NavItemPartial(NavPages.Reports))"/>
	<partial name="Shared/_NavItemPartial" model="@(new NavItemPartial(NavPages.Faq))"/>

	<li class="nav-item">
		OpenAPI
	</li>
	
	@* ReSharper disable once Html.PathError *@
	<a class="nav-link" href="/scalar/public" target="_blank">
		Scalar public <icon class="icon" icon="open_in_new"></icon>
	</a>

	@* ReSharper disable once Html.PathError *@
	<a class="nav-link" href="/scalar/internal" target="_blank">
		Scalar internal <icon class="icon" icon="open_in_new"></icon>
	</a>
	
</ul>