<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="admin" asp-page="./Index">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.TagsNavClass(ViewContext)" id="tags" asp-page="./Tags">Tags</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.NamespacesNavClass(ViewContext)" id="namespaces" asp-page="./Namespaces">Namespaces</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.CategoriesNavClass(ViewContext)" id="categories" asp-page="./Categories">Categories</a>
    </li>
    <li class="nav-item">
        <span class="nav-link">Documents</span> 
        
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.ManageDocumentsNavClass(ViewContext)" id="manage-documents" asp-page="./Documents/Manage">Manage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.EditDocumentNavClass(ViewContext)" id="edit-documents" asp-page="./Documents/Edit">Edit</a>
            </li>
        </ul>

    </li>
</ul>