<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="admin" asp-page="/Index" asp-area="Admin">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.TagsNavClass(ViewContext)" id="tags" asp-page="/Tags" asp-area="Admin">Tags</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.NamespacesNavClass(ViewContext)" id="namespaces" asp-page="/Namespaces" asp-area="Admin">Namespaces</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.QuotesNavClass(ViewContext)" id="quotes" asp-page="/Quotes" asp-area="Admin">Quotes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.InviteCodesNavClass(ViewContext)" id="codes" asp-page="/InviteCodes" asp-area="Admin">Invite codes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.RolesNavClass(ViewContext)" id="roles" asp-page="/Roles" asp-area="Admin">User roles</a>
    </li>
    <li class="nav-item">
        <span class="nav-link">Documents</span> 
        
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.ManageDocumentsNavClass(ViewContext)" id="manage-documents" asp-page="/Documents/Manage" asp-area="Admin">Manage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.EditDocumentNavClass(ViewContext)" id="edit-documents" asp-page="/Documents/Edit" asp-area="Admin">Edit</a>
            </li>
        </ul>

    </li>
</ul>