@page
@using Humanizer
@model Ogma3.Areas.Admin.Pages.Index

@{
    ViewData["Title"] = "Dashboard";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="counters">
    @foreach (var (k, v) in Model.Counts)
    {
        <div class="counter">
            <span class="name">@k</span>
            <span class="value">@v</span>
        </div>
    }
</div>

<table>
    <tr>
        <th>
            Table
        </th>
        <th colspan="2">
            Size
        </th>
    </tr>
    @foreach (var size in Model.DbSizes)
    {
        <tr>
            <td>@size.Name</td>
            <td>@(size.Size)b</td>
            <td>@size.Size.Bits()</td>
        </tr>
    }
</table>
