@using System.Globalization
@using Ogma3.Api.V1
@using Ogma3.Data.AuthorizationData
@using Ogma3.Data.Enums
@using Ogma3.Infrastructure.Extensions
@using Ogma3.Services
@using Utils.Extensions
@model BlogpostDetails

<article id="blogpost-app" class="blogpost-details" itemscope itemtype="https://bib.schema.org/Article">
    <h1 class="title" itemprop="name">@Model.Title</h1>

    <time class="date" itemprop="datePublished" datetime="@Model.PublishDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture)">
        @Model.PublishDate.FormatDateWithDaySuffix()
    </time>

    <div class="actions">
        @if (User.IsUserSameAsLoggedIn(Model.AuthorId))
        {
            <a title="Edit" class="action-btn" asp-page="./Edit" asp-route-id="@Model.Id">
                <icon class="icon" icon="edit"></icon>
                <span class="name">Edit</span>
            </a>
        }         
        @if (User.IsInRole(RoleNames.Admin) || User.IsInRole(RoleNames.Moderator))
        {
            <a title="Manage" class="action-btn red" target="_blank"
               asp-area="Admin" asp-page="/ContentBlock" 
               asp-route-type="blogpost" asp-route-id="@Model.Id">
                <icon class="icon" icon="shield"></icon>
            </a>
        }
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <button title="Report" class="action-btn red" v-on:click="report">
                <icon class="icon" icon="flag"></icon>
            </button>
        }
        @if (!Model.IsPublished)
        {
            <span class="not-published">
                <icon class="icon" icon="visibility_off"></icon>
            </span>
        }
        @if (Model.ContentBlockId != null)
        {
            <span class="not-published">
                <icon class="icon" icon="shield"></icon>
            </span>
        }
    </div>

        @if (Model.IsUnavailable)
        {
            <div class="unavailable active-border">
                <strong>Attached content is unavailable.</strong>
                <p>This story or chapter has been deleted or unpublished.</p>
            </div>
        }
        else
        {
            if (Model.AttachedStory != null)
            {
                <strong>Attached story</strong>
                <partial name="Shared/Minimals/_StoryMinimal" model="@Model.AttachedStory"/>
            }
            if (Model.AttachedChapter != null)
            {
                <strong>Attached chapter</strong>
                <partial name="Shared/Minimals/_ChapterMinimal" model="@Model.AttachedChapter"/>
            }
        }
    
    <markdown class="body" preset="Blogpost" itemprop="articleBody">
        @Model.Body
    </markdown>

    <div class="tags" itemprop="keywords">
        @foreach (var t in Model.Hashtags)
        {
            <a asp-page="/Blog/Index" asp-route-q="#@t" class="tag active-border">
                <span class="name">@t</span>
            </a>
        }
    </div>

    <div class="read-progress">
        <div class="bar" :style="{width: (progress * 100) + '%'}"></div>
    </div>

    <report-modal
        ref="reportModal"
        :item-id="@Model.Id"
        item-type="@EReportableContentTypes.Blogpost"
        reports-route="@Url.RouteUrl(nameof(ReportsController))">
    </report-modal>

    @Html.AntiForgeryToken()
</article>

<partial name="_Comments" model="@Model.CommentsThreadId"/>

@Html.Resource(@<script src="~/js/dist/components/textarea-counter-component.min.js" asp-append-version="true"></script>)
@Html.Resource(@<script src="~/js/dist/components/report-modal.min.js" asp-append-version="true"></script>)

@Html.Resource(@<script src="~/js/dist/blogpost.min.js" asp-append-version="true"></script>)