@using System.Globalization
@using Ogma3.Api.V1
@using Ogma3.Data.AuthorizationData
@using Ogma3.Infrastructure.Extensions
@using Ogma3.Services
@model ChapterDetails


<div class="chapter-container">
    <article class="chapter-details" id="chapter-app" itemscope itemtype="https://bib.schema.org/Chapter">

        <a class="story" asp-page="/Story" asp-route-id="@Model.StoryId" asp-route-slug="@Model.StorySlug">@Model.StoryTitle</a>
        <h1 class="title" itemprop="name">@Model.Title</h1>
        <time class="date" itemprop="datePublished">@Model.PublishDate.ToString("dd MMMM yyyy", CultureInfo.InvariantCulture)</time>

        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <div class="actions">

                <a title="Write about it" class="action-btn" asp-page="/Blog/Create" asp-route-chapter="@Model.Id">
                    <icon class="icon" icon="note_add"></icon>
                    <span class="name">Write about it</span>
                </a>

                <div class="actions">
                    @if (User.IsUserSameAsLoggedIn(Model.StoryAuthorId))
                    {
                        <a title="Edit" class="action-btn" asp-page="./Chapters/Edit" asp-route-id="@Model.Id">
                            <icon class="icon" icon="edit"></icon>
                            <span class="name">Edit</span>
                        </a>
                    }
                    @if (User.IsInRole(RoleNames.Admin) || User.IsInRole(RoleNames.Moderator))
                    {
                        <a title="Manage" class="action-btn red" target="_blank"
                           asp-area="Admin" asp-page="/ContentBlock"
                           asp-route-type="chapter" asp-route-id="@Model.Id">
                            <icon class="icon" icon="shield"></icon>
                        </a>
                    }
                    <button title="Report" class="action-btn red" v-on:click="report">
                        <icon class="icon" icon="flag"></icon>
                    </button>
                </div>
                @if (!Model.IsPublished)
                {
                    <span class="not-published">
                        <icon class="icon" icon="visibility_off"></icon>
                    </span>
                }
                @if (Model.ContentBlockId != null)
                {
                    <span class="not-published">
                        <icon class="icon" icon="shield"></icon>
                    </span>
                }
            </div>
        }

        <cache expires-after="TimeSpan.FromMinutes(60)">
            <div class="body-container">

                @if (!string.IsNullOrEmpty(Model.StartNotes))
                {
                    <div class="start notes"><span class="an">Author's notes:</span> @Model.StartNotes</div>
                }

                <markdown preset="Basic" class="body @* tts-body *@" itemprop="text">
                    @Model.Body
                </markdown>

                @if (!string.IsNullOrEmpty(Model.EndNotes))
                {
                    <div class="start notes"><span class="an">Author's notes:</span> @Model.EndNotes</div>
                }

            </div>
        </cache>
        
        <div class="read-progress">
            <div class="bar" :style="{width: (progress * 100) + '%'}"></div>
        </div>

        <report-modal
            ref="reportModal"
            :item-id="@Model.Id"
            item-type="Chapter"
            reports-route="@Url.RouteUrl(nameof(ReportsController))">
        </report-modal>

        @Html.AntiForgeryToken()
    </article>
    
    @* <div id="tts"> *@
    @*     <button id="tts-btn"> *@
    @*         <span class="material-icons-outlined" id="tts-btn-ico">play_arrow</span> *@
    @*     </button> *@
    @*     <button id="tts-stop"> *@
    @*         <span class="material-icons-outlined">stop</span> *@
    @*     </button> *@
    @* </div> *@
    
    <partial name="_Comments" model="@Model.CommentsThreadId" />
</div>

@* @Html.Resource(@<script src="~/js/dist/tts.min.js" asp-append-version="true"></script>) *@
@Html.Resource(@<script src="~/js/dist/components/textarea-counter-component.min.js" asp-append-version="true"></script>)
@Html.Resource(@<script src="~/js/dist/components/report-modal.min.js" asp-append-version="true"></script>)

@Html.Resource(@<script src="~/js/dist/chapter.min.js" asp-append-version="true"></script>)