@using System.Globalization
@using Ogma3.Services
@using Utils.Extensions
@model ChapterDetails


<div class="chapter-container">
    <article class="chapter-details" itemscope itemtype="https://bib.schema.org/Chapter">
        
        <a class="story" asp-page="/Story" asp-route-id="@Model.StoryId" asp-route-slug="@Model.StorySlug">@Model.StoryTitle</a>
        <h1 class="title" itemprop="name">@Model.Title</h1>
        <time class="date" itemprop="datePublished">@Model.PublishDate.ToString("dd MMMM yyyy", CultureInfo.InvariantCulture)</time>
        
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <div class="actions">
                
                <a title="Write about it" class="action-btn" asp-page="/Blog/Create" asp-route-story="@Model.Id">
                    <icon class="icon" icon="note_add"></icon>
                    <span class="name">Write about it</span>
                </a>
                
                @if (User.IsUserSameAsLoggedIn(Model.StoryAuthorId))
                {
                    <div class="actions">
                        <a title="Edit" class="action-btn" asp-page="./Chapters/Edit" asp-route-id="@Model.Id">
                            <icon class="icon" icon="edit"></icon>
                            <span class="name">Edit</span>
                        </a>
                    </div>
                }
            </div>
        }

        <cache expires-after="TimeSpan.FromMinutes(60)">
        <div class="body-container">
            
            @if (!string.IsNullOrEmpty(Model.StartNotes))
            {
                <div class="start notes"><span class="an">Author's notes:</span> @Model.StartNotes</div>
            }
            
            <markdown preset="Basic" class="body @* tts-body *@">@Model.Body</markdown>
            
            @if (!string.IsNullOrEmpty(Model.EndNotes))
            {
                <div class="start notes"><span class="an">Author's notes:</span> @Model.EndNotes</div>
            }
            
        </div>
        </cache>
    </article>
    
    @* <div id="tts"> *@
    @*     <button id="tts-btn"> *@
    @*         <span class="material-icons-outlined" id="tts-btn-ico">play_arrow</span> *@
    @*     </button> *@
    @*     <button id="tts-stop"> *@
    @*         <span class="material-icons-outlined">stop</span> *@
    @*     </button> *@
    @* </div> *@
    
    <partial name="_Comments" model="@Model.CommentsThreadId" />
</div>

@* @Html.Resource(@<script src="~/js/dist/tts.min.js" asp-append-version="true"></script>) *@