@page "{name}"
@model IndexModel

@{
	ViewData["Title"] = $"{Model.ProfileBar.UserName}'s profile";
	ViewData["Tab"] = "Profile";
}

@section OgMeta {
	<meta property="og:type" content="person">
	<meta property="og:url" content="@Url.PageLink("/User/Index", values: new { name = Model.ProfileBar.UserName })">
	<meta property="og:description" content="@Model.ProfileBar.Title">
	<meta property="og:image" content="http:@Model.ProfileBar.Avatar">
}

<partial name="Shared/Bars/_ProfileBar" model="Model.ProfileBar"/>

<div id="profile">

	<markdown class="bio" preset="All">
		@Model.Data.Bio
	</markdown>

	@if (Model.Data.Links.Any())
	{
		<ul class="links">
			@foreach (var link in Model.Data.Links)
			{
				<li>
					<a href="//@link" target="_blank" rel="noopener noreferrer me">
						<img src="https://www.google.com/s2/favicons?domain=@link" alt="" role="presentation" width="16" height="16">
						<span>@link</span>
					</a>
				</li>
			}
		</ul>
	}

</div>

<partial name="_Comments" model="@Model.Data.CommentsThread"/>