@page "/user/{name}/library"
@model LibraryModel

@{
	ViewData["Title"] = $"{Model.ProfileBar.UserName}'s library";
	ViewData["Tab"] = "Library";
}

<partial name="Shared/Bars/_ProfileBar" model="Model.ProfileBar"/>

<div id="shelves">
	@if (Model.IsCurrentUser)
	{
		<form class="form" v-if="showForm" id="category" method="post" v-on:submit.stop.prevent="createShelf">

			<ul class="validation-summary" v-if="err">
				<li class="text-danger" v-for="e in err">{{ e }}</li>
			</ul>

			<div class="form-row">
				<input-counter label="Name"
				               v-model="form.name"
				               :min="@CTConfig.CShelf.MinNameLength"
				               :max="@CTConfig.CShelf.MaxNameLength"
				               validate-msg="The {0} should be between {2} and {1} characters">
				</input-counter>

				<input-counter label="Description"
				               v-model="form.desc"
				               :max="@CTConfig.CShelf.MaxDescriptionLength"
				               validate-msg="The {0} should be less than {1} characters">
				</input-counter>
			</div>

			<div class="form-row">
				<div class="o-form-group keep-size">
					<label for="Color">Color</label>
					<input id="Color" type="color" class="form-control" v-model="form.color">
					<span class="text-danger"></span>
				</div>

				<input-toggle label="Quick Access"
				              v-model="form.quick">
				</input-toggle>

				<input-toggle label="Public"
				              v-model="form.pub">
				</input-toggle>

				<input-toggle label="Track updates"
				              v-model="form.track">
				</input-toggle>
			</div>

			<div class="form-row">
				<div class="o-form-group">
					<label>Icon</label>

					<div class="select-group">
						@foreach (var ico in Model.Icons)
						{
							<input type="radio" name="icons" v-model="form.icon" id="icon-@ico.Id" value="@ico.Id">
							<label for="icon-@ico.Id">
								<icon icon="@ico.Name" dynamic svg="true"></icon>
							</label>
						}
					</div>
				</div>
			</div>


			<input type="hidden" :value="form.id">

			<div class="form-group">
				<button type="submit" class="btn btn-primary">{{ form.id ? 'Edit' : 'Add' }}</button>
			</div>

		</form>

		<button class="btn btn-block btn-outline-primary"
		        v-on:click="() => {
                    if (showForm) cancelEdit();
                    else showForm = true;
                }">
			<icon icon="lucide:plus" svg="true"></icon>
			{{ showForm ? "Cancel" : "Create New" }}
		</button>
	}

	<button v-if="shelves !== null && shelves.length <= 0" class="btn btn-primary" type="button" disabled>
		<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
		Loading...
	</button>

	<button v-else-if="shelves === null" class="btn btn-primary" type="button" disabled>
		No bookshelves found
	</button>

	<ul v-else class="items-list">
		<li v-for="s in shelves">
			<div class="deco" v-bind:style="{background: s.color}">
				<o-icon class="material-icons-outlined" :icon="s.iconName"></o-icon>
			</div>
			<a class="main" :href="'/Shelf/' + s.id">
				<h3 class="name">{{ s.name }} – {{ s.storiesCount }}</h3>
				<span class="desc">{{ s.description }}</span>
			</a>
			@if (Model.IsCurrentUser)
			{
				<div class="actions">
					<button class="action" v-on:click="deleteShelf(s)">
						<icon icon="lucide:trash-2" svg="true"></icon>
					</button>
					<button class="action" v-on:click="editShelf(s)">
						<icon icon="lucide:pencil" svg="true"></icon>
					</button>
				</div>
			}
		</li>
	</ul>

	<div id="owner" data-owner="@Model.ProfileBar.UserName.ToUpper()" v-if="!owner"></div>
	@Html.AntiForgeryToken()
</div>


@section Scripts
{
	<script type="module" src="~/js/components/toggle-component.js" asp-append-version="true"></script>
	<script type="module" src="~/js/components/input-counter-component.js" asp-append-version="true"></script>
	<script type="module" src="~/js/shelves.js" asp-append-version="true"></script>
}