@using System.Globalization
@using Utils
@model Ogma3.Data.Models.Blogpost

<div class="blogpost-card">
    <a class="title" asp-page="/Blog/Post" asp-area="" asp-route-id="@Model.Id" asp-route-slug="@Model.Slug">
        <h3>@Model.Title</h3>
    </a>
    <markdown class="excerpt">
        @string.Join('\n', Model.Body.Split(' ').Take(80))...
    </markdown>
    <div class="info">
        <span class="word-count">@Model.WordCount.ToString("N0") words</span>
        <time class="release-date" datetime="@Model.PublishDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture)">
            published @Model.PublishDate.FormatDateWithDaySuffix()
        </time>
        <span class="author">by @Model.Author.UserName</span>
    </div>
</div>