@using Castle.Core.Internal
@model BookshelfDetails

<div id="bookshelf-details">
    <h1 class="name">
        <icon style="background-color: @Model.Color" class="icon" icon="@Model.IconName"></icon>
        @Model.Name
    </h1>

    @if (!Model.Description.IsNullOrEmpty())
    {
        <h2 class="desc">@Model.Description</h2>
    }

    @foreach (var story in Model.Stories)
    {
        <partial name="Shared/_StoryCard" model="@story"/>
    }
</div>