@using System.Globalization
@using Ogma3.Services
@model Ogma3.Data.DTOs.StoryChapterDTO


<div class="chapter-container">
    <article class="chapter-details" itemscope itemtype="https://bib.schema.org/Chapter">
        
        <a class="story" asp-page="/Story" asp-route-id="@Model.Story.Id" asp-route-slug="@Model.Story.Slug">@Model.Story.Title</a>
        <h1 class="title" itemprop="name">@Model.Chapter.Title</h1>
        <time class="date" itemprop="datePublished">@Model.Chapter.PublishDate.ToString("dd MMMM yyyy", CultureInfo.InvariantCulture)</time>
        
        <div class="body-container">
            
            @if (!string.IsNullOrEmpty(Model.Chapter.StartNotes))
            {
                <div class="start notes"><span class="an">Author's notes:</span> @Model.Chapter.StartNotes</div>
            }
            
            <div class="body tts-body">@Model.Chapter.Body</div>
            
            @if (!string.IsNullOrEmpty(Model.Chapter.EndNotes))
            {
                <div class="start notes"><span class="an">Author's notes:</span> @Model.Chapter.EndNotes</div>
            }
            
        </div>
    </article>
    
    <div id="tts">
        <button id="tts-btn">
            <span class="material-icons-outlined" id="tts-btn-ico">play_arrow</span>
        </button>
        <button id="tts-stop">
            <span class="material-icons-outlined">stop</span>
        </button>
    </div>
    
    <partial name="_Comments" model="@Model.Chapter.CommentsThread"></partial>
</div>

@Html.Resource(@<script src="~/js/dist/tts.min.js" asp-append-version="true"></script>);