@using Utils.Extensions
@model ClubCard

<div class="club-card">
    <cdn-img class="img" src="@Model.Icon" alt="@Model.Name" loading="lazy" width="160" height="160" />

    <a asp-page="/Club/Index" asp-route-id="@Model.Id" asp-route-slug="@Model.Name.Friendlify()" class="title">
        <h3>@Model.Name</h3>
    </a>

    <markdown class="hook" preset="Basic">
        @Model.Hook
    </markdown>

    <div class="info">
        <div class="user-count">@Model.UserCount @(Model.UserCount == 1 ? "member" : "members")</div>
        <div class="thread-count">@Model.ThreadCount @(Model.ThreadCount == 1 ? "thread" : "threads")</div>
        <div class="story-count">@Model.StoryCount @(Model.StoryCount == 1 ?"story" : "stories")</div>
    </div>

</div>