@model FolderCard

<div class="folder-card active-border">
    <a class="name" asp-page="/Club/Folders/Folder" asp-route-id="@Model.Id" asp-route-clubid="@Model.ClubId">
        @Model.Name
    </a>
    
    <span class="desc">@Model.Description</span>
    
    <div class="children">
        @foreach (var inner in Model.ChildFolders)
        {
            <a class="child active-border" asp-page="/Club/Folders/Folder" asp-route-id="@inner.Id" asp-route-clubid="@Model.ClubId">
                @inner.Name
            </a>
        }
    </div>
    
    <div class="count">
        <strong>@Model.StoriesCount</strong>
        <span>stories</span>
    </div>
</div>

