@using Ogma3.Api.Rss
@using Ogma3.Data.Users
@using Ogma3.Infrastructure.Constants
@using Ogma3.Infrastructure.Middleware.RequestTimingMiddleware
@using Ogma3.Infrastructure.OgmaConfig
@inject SignInManager<OgmaUser> SignInManager
@inject OgmaConfig Config

@{
	var duration = Context.GetRequestDuration() ?? TimeSpan.Zero;

	var proto = Context.Request.Protocol;
}

<footer class="footer">

	<div class="cols">

		<div class="col">
			<span class="header">Stats</span>

			<span class="item">
				Request time <span class="hl" title="@(duration.TotalMilliseconds.ToString("0.###")) ms">@(duration.TotalSeconds.ToString("0.###"))</span> seconds
			</span>

			<span class="item">
				<users-online class="hl" tolerance="5" cache-time="10"></users-online> users online
			</span>

			<span class="item">
				Serving <story-count class="hl" cache-time="60"></story-count> stories
			</span>

			<span class="item">
				Using <span class="hl">@proto</span>
			</span>
		</div>

		<div class="col">
			<span class="header">Links</span>

			<a asp-page="/Docs" asp-route-slug="@Config.AboutDoc" class="item">About</a>

			<a asp-page="/Docs" asp-route-slug="@Config.PrivacyPolicyDoc" class="item">Privacy</a>

			<a asp-page="/Staff" class="item">Staff</a>

			<a asp-page="/Markdown" class="item">Markdown reference</a>

			<a asp-page="/Settings" asp-area="" class="item">Local settings</a>

			<a asp-route="@(nameof(GetStoriesRssFeed))" class="item"><icon icon="lucide:rss" class="rss"></icon>Stories RSS</a>

			<a asp-route="@(nameof(GetBlogpostsRssFeed))" class="item"><icon icon="lucide:rss" class="rss"></icon>Blogpost RSS</a>

			@if (SignInManager.IsSignedIn(User) && User.IsInRole(RoleNames.Admin))
			{
				<a class="item" asp-area="Admin" asp-page="/Index">Admin</a>
			}
		</div>

		<div class="col">
			<span class="header">Follow and support</span>

			@{
				var pages = new[]
				{
					(name: "SubscribeStar", link: "https://www.subscribestar.com/genfic"),
					(name: "Patreon", link: "https://www.patreon.com/genfic"),
					(name: "Ko-Fi", link: "https://ko-fi.com/genfic"),
					(name: "Discord", link: "https://discord.com/invite/BNVZmJb"),
					(name: "Twitter", link: "https://twitter.com/GenficNet"),
					(name: "Bluesky", link: "https://bsky.app/profile/genfic.net"),
				};
			}

			@foreach (var (name, link) in pages)
			{
				<a href="@link" target="_blank" rel="noopener" aria-label="@name (opens in new tab)" class="item follow @(name.ToLower())">
					<picture src="/img/@(name.ToLower().Replace("-", "")).png"
					         height="24" width="24"
					         asp-append-version="true"
					         source-formats="@(["avif", "webp"])"
					         role="presentation">
					</picture>
					@name
					<icon icon="lucide:external-link"></icon>
				</a>
			}
		</div>

	</div>

	<div class="bottom">
		<span class="copy-text">&copy;2019-@DateTimeOffset.UtcNow.Year</span><a class="copy-link" asp-area="" asp-page="/Index">Genfic</a>
	</div>
</footer>