@using Ogma3.Api.Rss
@using Ogma3.Data.Users
@using Ogma3.Infrastructure.Constants
@using Ogma3.Infrastructure.Middleware
@inject SignInManager<OgmaUser> SignInManager
@inject OgmaConfig Config

@{
	var genTimeData = GetData((DateTimeOffset?)Context.Items[RequestTimestampMiddleware.Name]);
	var renderTimeData = GetData((DateTimeOffset?)ViewData["render_start"]);

	(string ms, string str) GetData(DateTimeOffset? dateTime) =>
		dateTime is { } dt
			? (ms: (DateTimeOffset.UtcNow - dt).TotalMilliseconds.ToString("F3"), str: (DateTimeOffset.UtcNow - dt).TotalSeconds.ToString("F3"))
			: (ms: "🤷‍♂️", str: "unknown");

	var proto = Context.Request.Protocol;
}

<footer class="footer">

	<div class="cols">

		<div class="col">
			<span class="header">Stats</span>

			<span class="item">
				Request time <span class="hl" title="@(genTimeData.ms) ms">@(genTimeData.str)</span> seconds
			</span>

			<span class="item">
				Render time <span class="hl" title="@(renderTimeData.ms) ms">@(renderTimeData.str)</span> seconds
			</span>

			<span class="item">
				<users-online class="hl" tolerance="5" cache-time="10"></users-online> users online
			</span>

			<span class="item">
				Serving <story-count class="hl" cache-time="60"></story-count> stories
			</span>

			<span class="item">
				Using @proto
			</span>
		</div>

		<div class="col">
			<span class="header">Links</span>

			<a asp-page="/Docs" asp-route-slug="@Config.AboutDoc" class="item">About</a>

			<a asp-page="/Docs" asp-route-slug="@Config.PrivacyPolicyDoc" class="item">Privacy</a>

			<a asp-page="/Staff" class="item">Staff</a>

			<a asp-page="/Markdown" class="item">Markdown reference</a>

			<a asp-page="/Settings" class="item">Local settings</a>

			<a asp-route="@(nameof(GetStoriesRssFeed))" class="item"><icon icon="lucide:rss" svg="true" class="rss"></icon>Stories RSS</a>

			<a asp-route="@(nameof(GetBlogpostsRssFeed))" class="item"><icon icon="lucide:rss" svg="true" class="rss"></icon>Blogpost RSS</a>

			@if (SignInManager.IsSignedIn(User) && User.IsInRole(RoleNames.Admin))
			{
				<a class="item" asp-area="Admin" asp-page="/Index">Admin</a>
			}
		</div>

		<div class="col">
			<span class="header">Follow and support</span>

			@{
				var formats = new[] { "avif", "webp" };
				var pages = new[]
				{
					(name: "SubscribeStar", link: "https://www.subscribestar.com/genfic"),
					(name: "Patreon", link: "https://www.patreon.com/genfic"),
					(name: "Ko-Fi", link: "https://ko-fi.com/genfic"),
					(name: "Discord", link: "https://discord.com/invite/BNVZmJb"),
					(name: "Twitter", link: "https://twitter.com/GenficNet"),
				};
			}

			@foreach (var (name, link) in pages)
			{
				<a href="@link" target="_blank" rel="noopener" aria-label="@name (opens in new tab)" class="item follow @(name.ToLower())">
					<picture src="/img/@(name.ToLower().Replace("-", "")).png"
					         height="24" width="24"
					         asp-append-version="true"
					         source-formats="@formats"
					         role="presentation">
					</picture>
					@name
					<icon icon="lucide:external-link" svg="true"></icon>
				</a>
			}
		</div>

	</div>

	<div class="bottom">
		<span class="copy-text">&copy;2019-@DateTimeOffset.UtcNow.Year</span><a class="copy-link" asp-area="" asp-page="/Index">Genfic</a>
	</div>

</footer>