@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using Ogma3.Api.V1
@using Ogma3.Data.Models
@using Ogma3.Services
@inject SignInManager<OgmaUser> SignInManager
@inject OgmaUserManager UserManager
@inject IWebHostEnvironment Env

@{
    Context.Request.Cookies.TryGetValue("theme", out var value);
    var theme = value ?? "light";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ogma</title>
    
    @* Theme Color for Chrome, Firefox OS and Opera *@
    <meta name="theme-color" content="#995e31">
    
    @* Short description of the document (limit to 150 characters) *@
    <meta name="description" content="@ViewData["Description"]">
    
    @* Control the behavior of search engine crawling and indexing *@
    <meta name="robots" content="index,follow">@* All Search Engines *@
    <meta name="googlebot" content="index,follow">@* Google Specific *@
    
    @* Gives a general age rating based on the document's content *@
    <meta name="rating" content="@ViewData["Rating"]">
    
    @if (ViewData["use_bootstrap"] == null)
    {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    }

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @if (theme == "system") {
        <link rel="stylesheet" href="~/css/light.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/dark.min.css" media="screen and (prefers-color-scheme: dark)" asp-append-version="true"/>
    } else {
        <link rel="stylesheet" href="@( $"~/css/{theme}.min.css" )" asp-append-version="true"/>
    }
    
    <link id="theme-ph">
    
    <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined&display=swap" rel="stylesheet">

    @if (Env.IsDevelopment())
    {
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    }
    else
    {
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    }
    <script src="~/js/dist/site.min.js" asp-append-version="true"></script>
</head>
<body>

<header>
    <nav id="top-nav">
        
        <a class="navbar-brand" asp-area="" asp-page="/Index">
            Ogma
            <version color="#ff0000" text="α"></version>
        </a>

        <partial name="_LoginPartial"/>

    </nav>
</header>

<noscript>
    While browsing the site should work just fine, a lot of functionality breaks with Javascript disabled.<br>
    Consider enabling it — you can check the site's <a href="#">source code</a> if you're unsure.
</noscript>

<div class="container" id="site-content">
    
    <partial name="_SubNavigation"/>
    
    <main role="main" class="pb-3" id="app">
        @RenderBody()
    </main>
</div>

<partial name="_Footer"></partial>
    
<script src="//cdn.jsdelivr.net/npm/dayjs@1.8.26/dayjs.min.js" integrity="sha256-vhr7lMQ7DPtWka5o4LbDYinKsFd2S9h1425NmzxeX0Q=" crossorigin="anonymous"></script>    
<script src="//cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>

@if (ViewData["use_bootstrap"] == null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}

<script src="~/js/dist/themeswap.min.js" asp-append-version="true"></script>
    
@await RenderSectionAsync("Scripts", required: false)
@Html.RenderResources()

<script>
(_=>{axios.post('@Url.RouteUrl(nameof(UserActivityController))').catch(console.error);})()
</script>
    
</body>
</html>
