@using System.Globalization
@using Ogma3.Api.V1.UserActivity
@using Ogma3.Services
@inject IWebHostEnvironment Env
@inject OgmaConfig Config

@{
	Context.Request.Cookies.TryGetValue("theme", out var theme);
	theme ??= "light";

	Context.Request.Cookies.TryGetValue("cookie-consent", out var consent);
	var cookieConsent = consent is "true";

	var isAdmin = ViewData["is-admin"];

	ViewData["render_start"] = DateTimeOffset.UtcNow;
}
<!DOCTYPE html>
<html lang="en">
<head>
	@* Preconnects, preloads and prefetches *@
	<link rel="preconnect" href="https://cdn.genfic.net">

	<link rel="preload" as="font" crossorigin="anonymous" type="font/woff2" href="~/fonts/Raleway-VF.woff2">
	<link rel="preload" as="image" crossorigin="anonymous" type="image/svg+xml" href="~/svg/spritesheet.svg">

	@* Module preloads *@
	<link rel="modulepreload" href="~/js/sw/cache-service-worker.js" as="serviceworker" asp-append-version="true" />
	<partial name="_ModulePreloads" />

	@* Base meta *@
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>

	@* Theme Color for Chrome, Firefox OS and Opera *@
	<meta name="theme-color" content="#995E31">

	@* Short description of the document (limit to 150 characters) *@
	<meta name="description" content="@(ViewData["Description"] ?? "The one-stop-shop for everything fiction")">

	@* Control the behavior of search engine crawling and indexing *@
	@if (isAdmin is null)
	{
		<meta name="robots" content="index,follow,noai,noimageai"> @* All Search Engines *@
		<meta name="googlebot" content="index,follow"> @* Google Specific *@
	}
	else
	{
		<meta name="robots" content="noindex,nofollow,noai,noimageai"> @* All Search Engines *@
		<meta name="googlebot" content="noindex,nofollow"> @* Google Specific *@
	}

	@* Gives a general age rating based on the document's content *@
	<meta name="rating" content="@ViewData["Rating"]">

	@* Tells the browser what color schemes are supported *@
	<meta name="color-scheme" content="dark light">

	@* OpenGraph meta *@
	<meta property="og:title" content="@ViewData["Title"]">
	@await RenderSectionAsync("OgMeta", false)

	@if (theme == "system")
	{
		<link rel="stylesheet" href="~/css/light.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/css/dark.css" media="screen and (prefers-color-scheme: dark)" asp-append-version="true" />
	}
	else
	{
		<link rel="stylesheet" href="~/css/@(theme).css" asp-append-version="true" />
	}

	<link id="theme-ph">

	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

	@await RenderSectionAsync("CSS", false)
	@Html.RenderResources("css")

	@await RenderSectionAsync("Head", required: false)

	@if (Env.IsDevelopment())
	{
		<script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"
		        asp-fallback-src="~/lib/vue/vue.js"
		        asp-fallback-test="window.Vue"></script>
	}
	else
	{
		<script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"
		        asp-fallback-src="~/lib/vue/vue.min.js"
		        asp-fallback-test="window.Vue"></script>
	}

	<script type="module" src="~/js/site.js" asp-append-version="true"></script>
	<script type="module" src="~/js/navbar.js" asp-append-version="true"></script>

	@* TODO: Load only the ones that are actually necessary *@
	<script type="module" src="~/js/comp/block-user.ts.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/chapter-read.ts.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/clock.ts.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/club-folder-selector.ts.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/featured-in-clubs.ts.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/follow-button.ts.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/icon.ts.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/join-club-button.ts.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/modal.ts.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/notifications-button.ts.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/qr-code.ts.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/quote-box.ts.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/read-progress.ts.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/report-modal.ts.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/shelves-button.ts.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/vote-button.ts.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", false)
	@Html.RenderResources()
</head>
<body>

<header>

	<button id="burger" aria-label="Menu button">
		<icon icon="lucide:menu" svg="true"></icon>
	</button>

	<nav id="top-nav">

		<partial name="_MainNav"/>

		@if (isAdmin is not null)
		{
			<o-clock date="@DateTimeOffset.UtcNow.ToString("o", CultureInfo.InvariantCulture)"></o-clock>
		}

		<partial name="_LoginPartial"/>

	</nav>
</header>

<div class="container" id="site-content">

	<noscript class="noscript">
		While browsing the site should work just fine, a lot of functionality breaks with Javascript disabled.<br>
		Consider enabling it — you can check the site's <a href="https://github.com/Atulin/Ogma">source code</a> if you're unsure.
	</noscript>

	@RenderBody()

</div>

@if (!cookieConsent)
{
	<div id="cookie-consent">
		<icon icon="lucide:cookie" svg="true"></icon>
		<span>To nobody's surprise, we're using cookies. You can read more about them in the&nbsp;<a asp-page="/Docs" asp-route-slug="@Config.PrivacyPolicyDoc" class="item">privacy policy</a>.</span>
		<button class="btn green" id="cookie-consent-button">Noted!</button>
	</div>

	<script type="module" src="~/js/cookie-consent.js"></script>
}

<partial name="_Footer"/>

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.2.1/dist/cdn.min.js"
        crossorigin="anonymous"></script>

@if (isAdmin is null)
{
	<script>
		(_ => {
			fetch('@Url.RouteUrl(nameof(UpdateLastActive))', { method: "HEAD" });
		})();
	</script>
}

@if (Env.IsDevelopment())
{
	<mini-profiler/>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ryersondmp/sa11y@4.0.3/dist/css/sa11y.min.css"/>
	<script
		src="https://cdn.jsdelivr.net/combine/gh/ryersondmp/sa11y@4.0.3/dist/js/lang/en.umd.js,gh/ryersondmp/sa11y@4.0.3/dist/js/sa11y.umd.min.js"></script>
	<script>
		Sa11y.Lang.addI18n(Sa11yLangEn.strings);
		const sa11y = new Sa11y.Sa11y({
			checkRoot: "body",
			containerIgnore: ".mp-results",
		});
	</script>
}

</body>
</html>