@using System.Globalization
@using Utils
@model Ogma3.Data.Models.OgmaUser

@{
    var tab = (string) ViewData["Tab"];
}

<div class="col-md-12 profile-bar">

    <div id="personal">
        <avatar src="@(Model.Avatar ?? Lorem.Gravatar(Model.Email))" size="130" alt="@Model.UserName's avatar"></avatar>
        <div class="data">
            <a asp-page="/User/Index" asp-area="" asp-route-name="@Model.UserName">
                <h1 class="name">@Model.UserName</h1>
            </a>
            <h2 class="title">@Model.Title</h2>
            <div class="times">
                <div class="time">
                    <span>Member since</span>
                    <time datetime="@Model.RegistrationDate.ToString("dd MMM yyyy, HH:mm", CultureInfo.InvariantCulture)">
                        @Model.RegistrationDate.ToString("dd MMM yyyy", CultureInfo.InvariantCulture)
                    </time>
                </div>
                <div class="time">
                    <span>Last seen</span>
                    <time datetime="@Model.LastActive.ToString("dd MMM yyyy, HH:mm", CultureInfo.InvariantCulture)">
                        @Model.LastActive.ToString("dd MMM yyyy", CultureInfo.InvariantCulture)
                    </time>
                </div>
            </div>
        </div>
    </div>

    <nav class="nav">
        <a class="nav-item @(tab == "Profile" ? "active" : null)" asp-area="" asp-page="/User/Index" asp-route-name="@Model.UserName">
            Home
        </a>
        <a class="nav-item @(tab == "Stories" ? "active" : null)" asp-area="" asp-page="/User/Stories" asp-route-name="@Model.UserName">
            Stories
        </a>
        <a class="nav-item @(tab == "Blog" ? "active" : null)" asp-area="" asp-page="/User/Blog" asp-route-name="@Model.UserName">
            Blog
        </a>
        <a class="nav-item @(tab == "Library" ? "active" : null)" asp-area="" asp-page="/User/Library" asp-route-name="@Model.UserName">
            Library
        </a>
    </nav>

</div>