@using System.Globalization
@using Humanizer
@using Utils
@model ProfileBar

@{
    var tab = (string) ViewData["Tab"];
}

<div class="info-bar profile-bar">

    <cdn-img class="img" src="@(Model.Avatar ?? Lorem.Gravatar(Model.Email))" alt="@Model.UserName's avatar" loading="lazy" height="130" width="130" />

    <h1 class="name">@Model.UserName</h1>
    
    <div class="roles">
        @foreach (var r in Model.Roles)
        {
            <div class="role-tag">
                <div class="bg" style="background-color: @r.Color"></div>
                <span class="name">@r.Name</span>
            </div>
        }
    </div>
    
    
    <div class="info">
        <h2 class="title">@Model.Title</h2>
        
        <div class="time">
            <span>Member since</span>
            <time datetime="@Model.RegistrationDate.ToString("dd MMM yyyy, HH:mm", CultureInfo.InvariantCulture)">
                @Model.RegistrationDate.ToString("dd MMM yyyy", CultureInfo.InvariantCulture)
            </time>
        </div>
        
        <div class="time">
            <span>Last seen</span>
            <time datetime="@Model.LastActive.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture)"
                  title="@Model.LastActive.ToString("dd MMM yyyy HH:mm", CultureInfo.InvariantCulture)">
                @Model.LastActive.Humanize(culture: CultureInfo.InvariantCulture)
            </time>
        </div>
        
    </div>

    <nav class="nav">
        <a class="nav-item @(tab == "Profile" ? "active" : null)" asp-area="" asp-page="/User/Index" asp-route-name="@Model.UserName">
            Home
        </a>
        <a class="nav-item @(tab == "Stories" ? "active" : null)" asp-area="" asp-page="/User/Stories" asp-route-name="@Model.UserName">
            Stories (@Model.StoriesCount)
        </a>
        <a class="nav-item @(tab == "Blog" ? "active" : null)" asp-area="" asp-page="/User/Blog" asp-route-name="@Model.UserName">
            Blog (@Model.BlogpostsCount)
        </a>
        <a class="nav-item @(tab == "Library" ? "active" : null)" asp-area="" asp-page="/User/Library" asp-route-name="@Model.UserName">
            Library
        </a>
    </nav>

</div>