@model Ogma3.Data.Models.Story

<div class="story-card">
    <img class="image" src="@Model.Cover" alt="@Model.Title" loading="lazy"/>
    <div class="body">
        <a asp-page="/Story" asp-route-id="@Model.Id" asp-route-slug="@Model.Slug" class="title">
            <h3>@Model.Title</h3>
        </a>
        <h4 class="author">By @Model.Author.UserName</h4>
        <div class="hook">@Model.Hook</div>
        <div class="tags">
            @foreach (var t in Model.Tags)
            {
                if (t.Namespace is null)
                {
                    <tag href="/Tag/@t.Id/@t.Slug">@t.Name</tag>
                }
                else
                {
                    <tag href="/Tag/@t.Id/@t.Slug" color="@t.Namespace.Color">@t.Namespace.Name:@t.Name</tag>
                }
            }
        </div>
    </div>
</div>

