@using System.Security.Claims
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Utils
@model Ogma3.Data.Models.Story

<div class="story-details">

    <div class="titlebar">
        <img src="@Model.Rating.Icon" alt="Rated: @Model.Rating.Name" title="@Model.Rating.Name" class="rating">
        <h1 class="title">@Model.Title</h1>
    </div>
    
    <div class="tags">
        @foreach (var t in Model.Tags)
        {
            if (t.Namespace is null)
            {
                <p class="tag">@t.Name</p>
            }
            else
            {
                <p class="tag" style="background-color:rgba(@t.Namespace.Color.ToCommaSeparatedCss())">@t.Namespace.Name:@t.Name</p>
            }
        }
    </div>
  
    <div class="main">
    
        @if (Model.Cover != null)
        {
            <img src="@Model.Cover" alt="@Model.CoverId" class="cover">
        }
        <h2 class="author">By @Model.Author.UserName</h2>
        <span class="date">@Model.ReleaseDate</span>
        <div class="description">@Model.Description</div>
    
    </div>
    
    <ol class="chapters">
        @foreach (var c in Model.Chapters)
        {
            <div>@c.Title : @c.PublishDate</div>
        }
    </ol>
    
    @if (User.Identity.IsAuthenticated && Model.Author.Id == User.FindFirstValue(ClaimTypes.NameIdentifier))
    {
        <div>
            <a asp-page="./MyStories/Edit" asp-route-id="@Model.Id">Edit</a>
        </div>
        <div>
            <a asp-page="./Chapters/Create" asp-route-id="@Model.Id">New chapter</a>
        </div>
    }
</div>