@using System.Globalization
@using System.Security.Claims
@using Ogma3.Services
@using Utils
@model Ogma3.Data.Models.Story

<div id="story-details" class="story-details" itemscope itemtype="https://schema.org/Book">

    <div class="titlebar">
        <img src="@Model.Rating.Icon" alt="Rated: @Model.Rating.Name" title="@Model.Rating.Name" class="rating">
        <span style="display:none" itemprop="contentRating">@Model.Rating.Name</span>
        
        <div class="votes" v-on:click="vote">
            <i class="material-icons-outlined">{{icon}}</i>
            <span class="count">{{score}}</span>
        </div>
        
        <h1 class="title" itemprop="name">@Model.Title</h1>
    </div>

    <div class="tags" itemprop="keywords">
        @foreach (var t in Model.Tags)
        {
            if (t.Namespace is null)
            {
                <p class="tag">@t.Name</p>
            }
            else
            {
                <p class="tag" style="background-color:rgba(@t.Namespace.Color.ToCommaSeparatedCss())">@t.Namespace.Name:@t.Name</p>
            }
        }
    </div>

    <div class="main">

        @if (Model.Cover != null)
        {
            <img src="@Model.Cover" alt="@Model.CoverId" class="cover" itemprop="thumbnailUrl">
        }
        <h2 class="author" itemprop="author">By @Model.Author.UserName</h2>
        <span class="date" itemprop="datePublished">@Model.ReleaseDate</span>
        <div class="description" itemprop="abstract">
            <text>@Model.Description</text>
        </div>

    </div>

    <ol class="chapters">
        <span>Chapters:</span>
        @foreach (var c in Model.Chapters.OrderBy(c => c.Order))
        {
            <a class="chapter" asp-page="/Chapter" asp-route-id="@c.Id" asp-route-slug="@c.Slug">
                <div class="title">@c.Order. @c.Title</div>
                <div class="date">@c.PublishDate.ToString("dd MMMM yyyy", CultureInfo.InvariantCulture)</div>
            </a>
        }
        @if (User.Identity.IsAuthenticated && Model.Author.Id == User.FindFirstValue(ClaimTypes.NameIdentifier))
        {
            <a class="btn btn-success btn-block btn-sm" asp-page="./Chapters/Create" asp-route-id="@Model.Id">
                <icon icon="add"></icon>
                Add new
            </a>
        }
    </ol>
    
    <div id="route" v-if="!route" data-route="@Url.RouteUrl("VotesController")"></div>
    <div id="pool-id" v-if="!pool" data-pool="@Model.VotesPoolId">AAAAAAA</div>
</div>

@Html.Resource(@<script src="~/js/story.min.js" asp-append-version="true"></script>)