@using Utils
@model Ogma3.Data.Models.Story

<div class="story">
    <img class="image" src="@Model.Cover" alt="@Model.Title" />
    <div class="body">
        <h3>@Model.Title</h3>
        <div>@Model.Hook</div>
        <div class="tags">
            @foreach (var t in @Model.StoryTags.Select(st => st.Tag))
            {
                if (t.Namespace is null)
                {
                    <p class="tag">@t.Name</p>
                }
                else
                {
                    <p class="tag" style="background-color:rgba(@t.Namespace.Color.ToCommaSeparatedCss())">@t.Namespace.Name:@t.Name</p>
                }
            }
        </div>
    </div>
</div>

