@using System.Globalization
@using System.Security.Claims
@using Utils.Extensions

@model ThreadDetails

<h1>
    @Model.Title
</h1>

<div class="comment">
    
    <div class="author">
            <a asp-page="/User/Index" asp-route-name="@Model.AuthorName" class="name">
                @Model.AuthorName
            </a>
        
        <div class="role-tag">
            <span class="name">@Model.AuthorRole.Name</span>
            <div class="bg" style="background-color: @Model.AuthorRole.Color"></div>
        </div>
        
        <cdn-img src="@Model.AuthorAvatar" alt="@Model.AuthorName's avatar" class="avatar" />
    </div>
    
    <div class="main">
        
        <div class="header">
            
            <time class="time"
                  datetime="@Model.CreationDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture)"
                  title="@Model.CreationDate.ToString("dd MMMM yyyy HH:mm", CultureInfo.InvariantCulture)">
                @Model.CreationDate.FormatDateWithDaySuffix()
            </time>
            
            @if (User.Identity.IsAuthenticated && string.Equals(User.FindFirst(ClaimTypes.Name).Value, Model.AuthorName, StringComparison.CurrentCultureIgnoreCase))
            {
                <div class="actions">
                    <a title="Edit" class="action-btn" asp-page="./Edit" asp-route-id="@Model.Id">
                        <icon icon="edit"></icon>
                    </a>
                    <a title="Delete" class="action-btn" asp-page="./Delete" asp-route-id="@Model.Id">
                        <icon icon="delete_forever"></icon>
                    </a>
                </div>
            }
            
        </div>
        
        <markdown class="body" preset="All">
            @Model.Body
        </markdown>
        
    </div>
    
</div>

<partial name="_Comments" model="@Model.CommentsThread" />