@using System.Globalization
@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Http
@using Ogma3.Data.Reports
@model ClubBar
@inject IAntiforgery Antiforgery
@inject IHttpContextAccessor Accessor;
@{
	var tab = (string)(ViewData["Tab"] ?? "");
	var csrf = Accessor is { HttpContext: { } context } ? Antiforgery.GetAndStoreTokens(context).RequestToken : "";
}

<div class="info-bar club-bar" id="club-bar">

	<img class="img" src="@Model.Icon" alt="@Model.Name" height="130" width="130" loading="lazy" />

	<h1 class="name">@Model.Name</h1>

	<time class="date" datetime="@Model.CreationDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture)">
		Founded @Model.CreationDate.ToString("dd MMMM yyyy", CultureInfo.InvariantCulture)
	</time>

	<div class="info">
		<div class="user-count">@Model.ClubMembersCount @(Model.ClubMembersCount == 1 ? "member" : "members")</div>
		<div class="thread-count">@Model.ThreadsCount @(Model.ThreadsCount == 1 ? "thread" : "threads")</div>
		<div class="story-count">@Model.StoriesCount @(Model.StoriesCount == 1 ? "story" : "stories")</div>
	</div>

	<div class="buttons">

		<o-join clubId="@Model.Id" isMember="@Model.IsMember" csrf="@csrf"></o-join>

		<div class="o-dropdown left" x-data="{open: false}">

			<button class="action-btn max" x-on:click="open = !open">
				<icon icon="lucide:ellipsis-vertical" svg="true"></icon>
			</button>

			<nav class="menu" x-show="open" x-cloak x-on:click.outside="open = false">

				<a class="item active" title="Edit club" asp-page="/Clubs/Edit" asp-route-id="@Model.Id">
					<icon icon="admin_panel_settings"></icon>
					Manage
				</a>

				@if (User.Identity?.IsAuthenticated ?? false)
				{
					<button title="Report" class="item active red" id="open-modal-button-clubbar">
						<icon icon="lucide:flag" svg="true"></icon>
						Report
					</button>
				}

				<a class="item active" title="Moderation log" asp-page="/Club/Modlog" asp-route-id="@Model.Id"
					asp-route-slug="@Model.Slug">
					<icon icon="lucide:scroll-text" svg="true"></icon>
					Modlog
				</a>
			</nav>
		</div>
	</div>

	<nav class="nav">
		<a class="nav-item @(tab == "Home" ? "active" : null)" asp-page="/Club/Index" asp-route-id="@Model.Id"
			asp-route-slug="@Model.Slug">
			Home
		</a>
		<a class="nav-item @(tab == "Members" ? "active" : null)" asp-page="/Club/Members" asp-route-id="@Model.Id"
			asp-route-slug="@Model.Slug">
			Members
		</a>
		<a class="nav-item @(tab == "Forums" ? "active" : null)" asp-page="/Club/Forums/Index" asp-route-id="@Model.Id"
			asp-route-slug="@Model.Slug">
			Forums
		</a>
		<a class="nav-item @(tab == "Stories" ? "active" : null)" asp-page="/Club/Folders/Index"
			asp-route-id="@Model.Id" asp-route-slug="@Model.Slug">
			Stories
		</a>
	</nav>

	<report-modal v-pre itemId="@Model.Id" itemType="@EReportableContentTypes.Story" csrf="@csrf"
		openSelector="#open-modal-button-clubbar">
	</report-modal>
</div>
