@using System.Globalization
@using Microsoft.AspNetCore.Antiforgery
@using Ogma3.Data.Reports
@using Ogma3.Services
@model ClubBar
@inject IAntiforgery Antiforgery
@inject IHttpContextAccessor Accessor;
@{
	var tab = (string)(ViewData["Tab"] ?? "");
	var csrf = Accessor is { HttpContext: { } context } ? Antiforgery.GetAndStoreTokens(context).RequestToken : "";
}

<div class="info-bar club-bar" id="club-bar">

	<img class="img" src="@Model.Icon" alt="@Model.Name" height="130" width="130" cf />

	<h1 class="name">@Model.Name</h1>

	<span class="date">
		Founded
		<time-display utc-date="Model.CreationDate" formatter="@(d => d.ToString("dd MMMM yyyy", CultureInfo.InvariantCulture))"></time-display>
	</span>

	<div class="info">
		<div class="user-count">@Model.ClubMembersCount.ToString() @(Model.ClubMembersCount == 1 ? "member" : "members")</div>
		<div class="thread-count">@Model.ThreadsCount.ToString() @(Model.ThreadsCount == 1 ? "thread" : "threads")</div>
		<div class="story-count">@Model.StoriesCount.ToString() @(Model.StoriesCount == 1 ? "story" : "stories")</div>
	</div>

	<div class="buttons">

		<o-join clubId="@Model.Id" isMember="@Model.IsMember" csrf="@csrf"></o-join>

		<div class="o-dropdown left" o-dropdown>

			<button class="action-btn max" o-dd-btn>
				<icon icon="lucide:ellipsis-vertical"></icon>
			</button>

			<nav class="menu" o-dd-body>

				<a class="item active" title="Edit club" asp-page="/Clubs/Edit" asp-route-id="@Model.Id">
					<icon icon="ic:outline-admin-panel-settings"></icon>
					Manage
				</a>

				@if (User.Identity?.IsAuthenticated ?? false)
				{
					<button title="Report" class="item active red" id="open-modal-button-clubbar">
						<icon icon="lucide:flag"></icon>
						Report
					</button>
				}

				<a class="item active" title="Moderation log" asp-page="/Club/Modlog" asp-route-id="@Model.Id"
					asp-route-slug="@Model.Slug">
					<icon icon="lucide:scroll-text"></icon>
					Modlog
				</a>
			</nav>
		</div>
	</div>

	<nav class="nav">
		<a class="nav-item @(tab == "Home" ? "active" : null)" asp-page="/Club/Index" asp-route-id="@Model.Id"
			asp-route-slug="@Model.Slug">
			Home
		</a>
		<a class="nav-item @(tab == "Members" ? "active" : null)" asp-page="/Club/Members" asp-route-id="@Model.Id"
			asp-route-slug="@Model.Slug">
			Members
		</a>
		<a class="nav-item @(tab == "Forums" ? "active" : null)" asp-page="/Club/Forums/Index" asp-route-id="@Model.Id"
			asp-route-slug="@Model.Slug">
			Forums
		</a>
		<a class="nav-item @(tab == "Stories" ? "active" : null)" asp-page="/Club/Folders/Index"
			asp-route-id="@Model.Id" asp-route-slug="@Model.Slug">
			Stories
		</a>
	</nav>

	<report-modal v-pre itemId="@Model.Id" item-type="@EReportableContentTypes.Story" csrf="@csrf"
		open-selector="#open-modal-button-clubbar">
	</report-modal>
</div>

@Html.Resource(@<script type="module" src="~/js/comp/join-club-button.js" asp-append-version="true"></script>)
@Html.Resource(@<script type="module" src="~/js/dropdown.js" asp-append-version="true"></script>)