@using System.Globalization
@using Ogma3.Api.V1
@using Ogma3.Data.AuthorizationData
@using Ogma3.Data.Enums
@using Ogma3.Infrastructure.Extensions
@using Ogma3.Services
@model ClubBar

@{
    var tab = (string) ViewData["Tab"];
}

<div class="info-bar club-bar" id="club-bar">

    <cdn-img class="img" src="@Model.Icon" alt="@Model.Name" loading="lazy" height="130" width="130" />

    <h1 class="name">@Model.Name</h1>

    <time class="date" datetime="@Model.CreationDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture)">
        Founded @Model.CreationDate.ToString("dd MMMM yyyy", CultureInfo.InvariantCulture)
    </time>

    <div class="info">
        <div class="user-count">@Model.ClubMembersCount @(Model.ClubMembersCount == 1 ? "member" : "members")</div>
        <div class="thread-count">@Model.ThreadsCount @(Model.ThreadsCount == 1 ? "thread" : "threads")</div>
        <div class="story-count">@Model.StoriesCount @(Model.StoriesCount == 1 ?"story" : "stories")</div>
    </div>
    
    <div class="buttons">
        <button class="button max @(Model.IsMember ? "leave" : "join")" 
                :class="joined ? 'leave' : 'join'" 
                id="join-btn"
                v-on:click="join"
            >
            <span v-if="joined === null">@(Model.IsMember ? "Leave club" : "Join club")</span>
            <span v-else>{{ joined ? 'Leave club' : 'Join club' }}</span>
        </button>
        
        <div class="o-dropdown left">
            <input type="checkbox" id="o-dropdown-toggler">
            
            <label for="o-dropdown-toggler">
                <icon icon="more_vert"></icon>
            </label>
            
            <ul class="menu">
                    
               <a class="item active" title="Edit club"  asp-page="/Clubs/Edit" asp-route-id="@Model.Id">
                    Edit
                </a>
                    
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <li title="Report" class="item active red" v-on:click="report">
                        Report
                    </li>
                }
            </ul>
        </div>
        
        @* @if (User.IsUserSameAsLoggedIn(Model.FounderId)) *@
        @* { *@
        @*     <a class="button" title="Edit club"  asp-page="/Clubs/Edit" asp-route-id="@Model.Id"> *@
        @*         <icon class="icon" icon="edit"></icon> *@
        @*     </a> *@
        @* *@
        @*     <a class="button" title="Delete club" asp-page="/Clubs/Delete" asp-route-id="@Model.Id"> *@
        @*         <icon class="icon" icon="delete_forever"></icon> *@
        @*     </a> *@
        @* } *@
    </div>

    <nav class="nav">
        <a class="nav-item @(tab == "Home" ? "active" : null)" 
           asp-page="/Club/Index" 
           asp-route-id="@Model.Id"
           asp-route-slug="@Model.Slug">
            Home
        </a>
        <a class="nav-item @(tab == "Members" ? "active" : null)" 
           asp-page="/Club/Members" 
           asp-route-id="@Model.Id">
            Members
        </a>
        <a class="nav-item @(tab == "Forums" ? "active" : null)" 
           asp-page="/Club/Forums/Index" 
           asp-route-id="@Model.Id">
            Forums
        </a>
        <a class="nav-item @(tab == "Stories" ? "active" : null)" 
           asp-page="/Club/Folders/Index" 
           asp-route-id="@Model.Id">
            Stories
        </a>
    </nav>

    <div v-if="!route" id="data-route" data-route="@Url.RouteUrl(nameof(ClubJoinController))"></div>
    <div v-if="!id" id="data-id" data-id="@Model.Id"></div>
    <div v-if="joined === null" id="data-joined" data-joined="@Model.IsMember"></div>
    @Html.AntiForgeryToken()
    
    <report-modal
        ref="reportModal"
        :item-id="@Model.Id"
        item-type="@EReportableContentTypes.Club"
        reports-route="@Url.RouteUrl(nameof(ReportsController))">
    </report-modal>
</div>

@Html.Resource(@<script src="~/js/dist/components/textarea-counter-component.min.js" asp-append-version="true"></script>)
@Html.Resource(@<script src="~/js/dist/components/report-modal.min.js" asp-append-version="true"></script>)

@Html.Resource(@<script src="~/js/dist/club-bar.min.js" asp-append-version="true"></script>)