@page "/club/{clubid}/folder/{id}/delete"
@using Ogma3.Api.V1.Folders
@model DeleteModel

@{
	ViewData["Title"] = "Delete folder";
}

<h2>@Model.Folder.Name</h2>

<div>
	<h3>Are you sure you want to delete this folder?</h3>

	<hr/>

	<div asp-validation-summary="All">
		<span>Please correct the following errors</span>
	</div>

	<hr>

	<dl class="rows">
		<dt>
			Description:
		</dt>
		<dd>
			<markdown preset="Basic">
				@Model.Folder.Description
			</markdown>
		</dd>
		<dt>
			Stories:
		</dt>
		<dd>
			@Model.Folder.StoriesCount
		</dd>
	</dl>

	<form method="post" class="confirm" id="folder">
		
		<o-folder-tree id="folder-selector"
						clubId="@Model.Folder.ClubId"
		               label="Move stories to"
		               value="@Model.Folder.Id"
		               current="@Model.Folder.Id"
		               route="@Url.RouteUrl(nameof(FoldersController))">
		</o-folder-tree>

		<input type="hidden" asp-for="Folder.Id"/>
		<input type="hidden" asp-for="TargetFolder"/>

		<hr>

		<div class="buttons">
			<input type="submit" value="Delete" class="button accept red"/>
			<a asp-page="./Folder" 
			   class="button cancel" 
			   asp-route-id="@Model.Folder.Id" 
			   asp-route-clubId="@Model.Folder.ClubId" 
			   asp-route-slug="@Model.Folder.Slug">Cancel</a>
		</div>
	</form>

</div>

@section Scripts {
	<script >
	const $ = (sel) => document.getElementById(sel);
		$('folder').addEventListener('submit', (e) => {
			e.preventDefault();	
			$('TargetFolder').value = $('folder-selector').selected;
			e.target.submit();
		})
	</script>
}