@page "/club/{clubid}/folder/{id}/edit"
@using Ogma3.Api.V1.Folders
@using Ogma3.Data.Clubs
@model EditModel

@{
	ViewData["Title"] = $"Edit the {Model.Input.Name} folder";
}
<h1>@ViewData["Title"]</h1>

<div class="button-group">
	<a title="Cancel" class="action-btn large" asp-page="./Index" asp-route-id="@Model.Input.ClubId" asp-route-slug="@Model.Slug">
		<icon class="icon" icon="arrow_back"></icon>
		<span class="name">Cancel</span>
	</a>
	<a title="Delete" class="action-btn large red" asp-page="./Delete" asp-route-clubId="@Model.Input.ClubId" asp-route-id="@Model.Input.Id">
		<icon class="icon" icon="delete_forever"></icon>
		<span class="name">Delete</span>
	</a>
</div>

<form method="post" class="form" id="folder">

	<div asp-validation-summary="All">
		<span>Please correct the following errors</span>
	</div>

	<div class="o-form-group">
		<label>Parent folder</label>
		<p class="desc">Select nothing to make it a root-level folder</p>
		<o-folder-tree id="folder-selector"
		               clubId="@Model.Input.ClubId"
		               label="Parent folder"
		               name="Input_ParentId"
		               inputSelector="#Input_ParentId"
		               route="@Url.RouteUrl(nameof(FoldersController))">
		</o-folder-tree>
	</div>
	
	<input type="hidden" asp-for="Input.ParentId">

	<div class="o-form-group">
		<label asp-for="Input.Name"></label>
		<input asp-for="Input.Name" class="o-form-control active-border">
		<span asp-validation-for="Input.Name"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Description"></label>
		<textarea asp-for="Input.Description" class="o-form-control active-border" rows="3" data-wordcount="true"></textarea>
		<span asp-validation-for="Input.Description"></span>
	</div>

	<div class="o-form-group club-role-slider">
		<label asp-for="Input.Role"></label>
		<p class="desc">Choose who can add stories to this folder</p>

		<div class="selector active-border">
			@foreach (var r in Enum.GetValues<EClubMemberRoles>())
			{
				<input type="radio"
				       asp-for="Input.Role"
				       id="@r"
				       value="@((int)r)"
				       checked="@(Model.Input.Role == r)">
				<label for="@r" tabindex="0">@r</label>
			}
		</div>
	</div>

	<input type="hidden" asp-for="Input.Id">

	<div class="o-form-group">
		<button type="submit" class="btn btn-primary">Save changes</button>
	</div>

</form>

<partial name="Shared/_ValidationScriptsPartial"/>

@section Scripts {
	<script src="~/js/dist/input-progressbars.js" asp-append-version="true"></script>
}