@page "/club/{clubId:long}/folder/{id:long}/edit"
@using Ogma3.Data.Clubs
@model EditModel

@{
	ViewData["Title"] = $"Edit the {Model.Input.Name} folder";
}
<h1>@ViewData["Title"]</h1>

<div class="button-group">
	<a title="Cancel" class="action-btn large" asp-page="./Index" asp-route-id="@Model.Input.ClubId" asp-route-slug="@Model.Slug">
		<icon class="icon" icon="lucide:arrow-left" svg="true"></icon>
		<span class="name">Cancel</span>
	</a>
	<a title="Delete" class="action-btn large red" asp-page="./Delete" asp-route-clubId="@Model.Input.ClubId" asp-route-id="@Model.Input.Id">
		<icon class="icon" icon="lucide:trash-2" svg="true"></icon>
		<span class="name">Delete</span>
	</a>
</div>

<form method="post" class="form" id="folder">

	<div asp-validation-summary="All">
		<span>Please correct the following errors</span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Name"></label>
		<input asp-for="Input.Name" class="o-form-control active-border">
		<span asp-validation-for="Input.Name"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Description"></label>
		<textarea asp-for="Input.Description" class="o-form-control active-border" rows="3" data-wordcount="true"></textarea>
		<span asp-validation-for="Input.Description"></span>
	</div>

	<div class="o-form-group club-role-slider">
		<label asp-for="Input.Role"></label>
		<p class="desc">Choose who can add stories to this folder</p>

		<div class="selector active-border">
			@foreach (var r in EClubMemberRolesExtensions.GetValues())
			{
				var name = r.ToStringFast();

				<input type="radio"
				       asp-for="Input.Role"
				       id="@name"
				       value="@((int)r)"
				       checked="@(Model.Input.Role == r)">
				<label for="@name" tabindex="0">@name</label>
			}
		</div>
	</div>

	<input type="hidden" asp-for="Input.Id">

	<div class="o-form-group">
		<button type="submit" class="btn btn-primary">Save changes</button>
	</div>

</form>

<partial name="Shared/_ValidationScriptsPartial"/>

@section Scripts {
	<script type="module" src="~/js/input-progressbars.js" asp-append-version="true"></script>
}