@page "/Shelf/{id}/{slug?}"
@model Bookshelf

@{
	ViewData["Title"] = Model.Shelf.Name;
}
<div id="bookshelf-details">
	<div class="details" style="--shelf-color: @Model.Shelf.Color">
		<div class="icon">
			<icon icon="@Model.Shelf.IconName" dynamic></icon>
		</div>

		<h1 class="name">
			@Model.Shelf.Name
		</h1>

		@if (!string.IsNullOrEmpty(Model.Shelf.Description))
		{
			<h2 class="desc">@Model.Shelf.Description</h2>
		}
	</div>

	@foreach (var story in Model.Shelf.Stories)
	{
		<partial name="Shared/Cards/_StoryCard" model="@story"/>
	}
</div>