@page
@model Infractions

@{
	ViewData["Title"] = "Infractions";
	ViewData["ActivePage"] = ManageNavPages.Infractions;
}

<h4>@ViewData["Title"]</h4>

@if (Model.AllInfractions is { Count: <= 0 })
{
	<strong>You're clear! 🎉</strong>
}

@foreach (var i in Model.AllInfractions)
{
	var isDone = i.ActiveUntil < DateTimeOffset.UtcNow || i.RemovedAt is not null;

	<details class="infraction details">
		<summary class="@(isDone ? "passed" : null)">
			<b class="type @i.Type.ToString().ToLower()">@i.Type</b> until <time-display utc-date="i.ActiveUntil" formatter="@(dt => dt.ToString("dd.MM.yyyy HH:mm"))"></time-display>
		</summary>
		<div class="time">Issued on <time-display utc-date="i.IssueDate" formatter="@(dt => dt.ToString("dd.MM.yyyy HH:mm"))"></time-display></div>
		@if (i.RemovedAt is {} d)
		{
			<div class="time">Removed on <time-display utc-date="d" formatter="@(dt => dt.ToString("dd.MM.yyyy HH:mm"))"></time-display></div>
		}
		<div class="reason">
			<b>Reason:</b> @i.Reason
		</div>
	</details>
}