@page
@using Ogma3.Pages.Shared
@model CreateModel

@{
	ViewData["Title"] = "Create new story";
}

<h1>@ViewData["Title"]</h1>

<form class="form" id="story" method="post" enctype="multipart/form-data">

	<div asp-validation-summary="All">
		<span>Please correct the following errors</span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Title"></label>
		<p class="desc">Try something catchy</p>
		<input asp-for="Input.Title" class="o-form-control active-border">
		<span asp-validation-for="Input.Title"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Description"></label>
		<p class="desc">The long description, shown when user opens your story's page</p>
		<markdown-editor></markdown-editor>
		<textarea asp-for="Input.Description" class="o-form-control active-border" rows="10" data-wordcount="true" data-md="true"></textarea>
		<span asp-validation-for="Input.Description"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Hook"></label>
		<p class="desc">The short description that appears on story lists</p>
		<markdown-editor></markdown-editor>
		<input asp-for="Input.Hook" class="o-form-control active-border" data-md="true">
		<span asp-validation-for="Input.Hook"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Cover"></label>
		<span class="desc">First thing people often notice</span>
		<input asp-for="Input.Cover" class="o-form-control active-border">
		<span asp-validation-for="Input.Cover"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Rating"></label>
		<p class="desc">What audience is the story suitable for</p>

		<div class="ratings">
			@foreach (var r in Model.Ratings)
			{
				var icon = new RatingIcon
				{
					Name = r.Name,
					Color = r.Color,
				};

				<div class="rating">

					<input type="radio"
					       name="Input.Rating"
					       id="@r.Name.ToLower()"
					       value="@r.Id"
					       checked="@(r.Id == Model.Input.Rating)"
					       class="radio">

					<label class="radio-label active-border" for="@r.Name.ToLower()">
						<partial name="_RatingIcon" model="icon"/>
						<div class="main">
							<strong>@r.Name</strong>
							<span>@r.Description</span>
						</div>
					</label>
				</div>
			}
		</div>
		<span asp-validation-for="Input.Rating"></span>
	</div>

	<div class="o-form-group">
		<label>Genres</label>
		<span class="desc">Let your readers find the story they've been looking for</span>

		<div class="tags">
			@foreach (var g in Model.Genres)
			{
				<div class="story-tag active-border">
					<input type="checkbox"
					       id="genre_@g.Name"
					       name="Input.Tags[]"
					       value="@g.Id">
					<label style="--col: @g.NamespaceColor" for="genre_@g.Name">@g.Name</label>
				</div>
			}
		</div>
	</div>

	<div class="o-form-group">
		<label>Content warnings</label>
		<span class="desc">Is there anything your readers should be wary of?</span>

		<div class="tags">
			@foreach (var cw in Model.ContentWarnings)
			{
				<div class="story-tag active-border">
					<input type="checkbox"
					       id="cw_@cw.Name"
					       name="Input.Tags[]"
					       value="@cw.Id">
					<label style="--col: @cw.NamespaceColor" for="cw_@cw.Name">@cw.Name</label>
				</div>
			}
		</div>
	</div>

	<div class="o-form-group">
		<label>Franchise</label>
		<span class="desc">Is your story based on any of those franchises?</span>

		<div class="tags">
			@foreach (var f in Model.Franchises)
			{
				<div class="story-tag active-border">
					<input type="checkbox"
					       id="franchise_@f.Name"
					       name="Input.Tags[]"
					       value="@f.Id">
					<label style="--col: @f.NamespaceColor" for="franchise_@f.Name">@f.Name</label>
				</div>
			}
		</div>
	</div>

	<div class="o-form-group">
		<label>Credits</label>
		<table>
			<tr>
				<th>Role</th>
				<th>Name</th>
				<th>Link (optional)</th>
			</tr>
			@for (var i = 0; i < 10; i++)
			{
				var credit = Model.Input.Credits.ElementAtOrDefault(i) ?? CreateModel.NullableCredit.Empty;

				<tr>
					<td>
						<input list="credit-roles" type="text" asp-for="@(credit.Role)">
					</td>
					<td>
						<input type="text" asp-for="@(credit.Name)">
					</td>
					<td>
						<input type="text" asp-for="@(credit.Link)">
					</td>
				</tr>
			}
		</table>
		<datalist id="credit-roles">
			<option value="editor"></option>
			<option value="proofreader"></option>
			<option value="beta reader"></option>
			<option value="thumbnail"></option>
			<option value="idea"></option>
		</datalist>
	</div>

	<div class="o-form-group">
		<button type="submit" class="btn btn-primary">Create</button>
	</div>

</form>

<partial name="Shared/_ValidationScriptsPartial"/>

@section Scripts {
	<script type="module" src="~/js/input-progressbars.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/markdown-editor.js" asp-append-version="true"></script>
}

@section CSS
{
	<link rel="stylesheet" href="~/css/editors.css" asp-append-version="true">
}