@page
@using Ogma3.Data.Stories
@using Utils.Extensions
@model EditModel

@{
	ViewData["Title"] = $"Edit {Model.Input.Title}";
}

<h1>@ViewData["Title"]</h1>

<div class="button-group">
	<a title="Cancel" class="action-btn large" asp-page="../Story" asp-route-id="@Model.Input.Id" asp-route-slug="@Model.Input.Title.Friendlify()">
		<icon class="icon" icon="arrow_back"></icon>
		<span class="name">Cancel</span>
	</a>
	<a title="Delete" class="action-btn large red" asp-page="./Delete" asp-route-id="@Model.Input.Id">
		<icon class="icon" icon="delete_forever"></icon>
		<span class="name">Delete</span>
	</a>
</div>

<form class="form" id="story" method="post" enctype="multipart/form-data" v-on:submit="onSubmit">

	<div asp-validation-summary="All">
		<span>Please correct the following errors</span>
	</div>

	<div class="o-form-group status-select">
		<label asp-for="Input.Status"></label>
		<p class="desc">Choose the status of your story</p>

		<div class="selector active-border">
			@foreach (var s in Enum.GetValues<EStoryStatus>().Reverse())
			{
			<input type="radio"
			       asp-for="Input.Status"
			       id="sel_@s"
			       value="@((int)s)"
			       checked="@(Model.Input.Status == s)">
			<label for="sel_@s" tabindex="0">@s</label>
			}
		</div>
	</div>

	<div class="o-form-group keep-size">
		<label asp-for="Input.Published"></label>
		<p class="desc">Control whether your story is visible or not</p>

		<div class="toggle-input">
			<input asp-for="Input.Published">

			<label asp-for="Input.Published">
				<span class="toggle"></span>
				<span class="label-on">On</span>
				<span class="label-off">Off</span>
			</label>

		</div>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Title"></label>
		<p class="desc">Try something catchy</p>
		<input asp-for="Input.Title" class="o-form-control active-border">
		<span asp-validation-for="Input.Title"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Description"></label>
		<p class="desc">The long description, shown when user opens your story's page</p>
		<textarea asp-for="Input.Description" class="o-form-control active-border" rows="10" data-wordcount="true" data-md="true"></textarea>
		<span asp-validation-for="Input.Description"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Hook"></label>
		<p class="desc">The short description that appears on story lists</p>
		<input asp-for="Input.Hook" class="o-form-control active-border" data-md="true">
		<span asp-validation-for="Input.Hook"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Cover"></label>
		<span class="desc">First thing people often notice</span>
		<input asp-for="Input.Cover" class="o-form-control active-border">
		<span asp-validation-for="Input.Cover"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Rating"></label>
		<p class="desc">What audience is the story suitable for</p>

		<div class="ratings">
			@foreach (var r in Model.Ratings)
			{
				<div class="rating">

					<input type="radio"
					       name="Input.Rating"
					       id="@r.Name.ToLower()"
					       value="@r.Id"
					       checked="@(r.Id == Model.Input.Rating)"
					       class="radio">

					<label class="radio-label active-border" for="@r.Name.ToLower()">
						<img src="@r.Icon" height="50" width="50" alt="Rating: @r.Name" loading="lazy" />
						<div class="main">
							<strong>@r.Name</strong>
							<span>@r.Description</span>
						</div>
					</label>
				</div>
			}
		</div>
		<span asp-validation-for="Input.Rating"></span>
	</div>

	<div class="o-form-group">
		<label>Genres</label>
		<span class="desc">Let your readers find the story they've been looking for</span>

		<div class="tags">
			@foreach (var g in Model.Genres)
			{
				<div class="story-tag active-border">
					<input type="checkbox"
					       id="genre_@g.Name"
					       name="Input.Tags[]"
					       value="@g.Id"
					       checked="@(Model.Input.Tags.Contains(g.Id))">
					<label style="--col: @g.NamespaceColor" for="genre_@g.Name">@g.Name</label>
				</div>
			}
		</div>
	</div>

	<div class="o-form-group">
		<label>Content warnings</label>
		<span class="desc">Is there anything your readers should be wary of?</span>

		<div class="tags">
			@foreach (var cw in Model.ContentWarnings)
			{
				<div class="story-tag active-border">
					<input type="checkbox"
					       id="cw_@cw.Name"
					       name="Input.Tags[]"
					       value="@cw.Id"
					       checked="@(Model.Input.Tags.Contains(cw.Id))">
					<label style="--col: @cw.NamespaceColor" for="cw_@cw.Name">@cw.Name</label>
				</div>
			}
		</div>
	</div>

	<div class="o-form-group">
		<label>Franchise</label>
		<span class="desc">Is your story based on any of those franchises?</span>

		<div class="tags">
			@foreach (var f in Model.Franchises)
			{
				<div class="story-tag active-border">
					<input type="checkbox"
					       id="franchise_@f.Name"
					       name="Input.Tags[]"
					       value="@f.Id"
					       checked="@(Model.Input.Tags.Contains(f.Id))">
					<label style="--col: @f.NamespaceColor" for="franchise_@f.Name">@f.Name</label>
				</div>
			}
		</div>
	</div>

	<div class="o-form-group">
		<label>Credits</label>
		<table>
			<tr>
				<th>Role</th>
				<th>Name</th>
				<th>Link (optional)</th>
			</tr>
			@for (var i = 0; i < Model.Input.Credits.Count; i++)
			{
				<tr>
					<td>
						<input list="credit-roles" asp-for="Input.Credits[i].Role">
					</td>
					<td>
						<input asp-for="Input.Credits[i].Name">
					</td>
					<td>
						<input asp-for="Input.Credits[i].Link">
					</td>
				</tr>
			}
		</table>
		<datalist id="credit-roles">
			<option value="editor"></option>
			<option value="proofreader"></option>
			<option value="beta reader"></option>
			<option value="thumbnail"></option>
			<option value="idea"></option>
		</datalist>
	</div>

	<div class="o-form-group">
		<button type="submit" class="btn btn-primary">Save changes</button>
	</div>

</form>


<partial name="Shared/_ValidationScriptsPartial"/>

@section Scripts {
	<script src="~/js/dist/input-progressbars.js" asp-append-version="true"></script>
	<script src="~/js/dist/editors/markdown-toolbar.js" asp-append-version="true" async></script>
}

@section CSS
{
	<link rel="stylesheet" href="~/css/dist/editors.css" asp-append-version="true">
}