@page
@using Ogma3.Api
@model Ogma3.Pages.Stories.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<form class="form" id="story" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="o-form-group">
        <label asp-for="Input.Title"></label>
        <input asp-for="Input.Title" 
                placeholder="What your story be named" 
                class="o-form-control active-border" 
                v-model="title.current">
        <span class="counter">{{titleCount}}</span>
        <span asp-validation-for="Input.Title" class="text-warning"></span>
    </div>
    
    <div class="o-form-group">
        <label asp-for="Input.Description"></label>
        <textarea asp-for="Input.Description" 
                placeholder="What your story is about" 
                class="o-form-control active-border" 
                v-model="desc.current">
        </textarea>
        <span class="counter">{{descCount}}</span>
        <span asp-validation-for="Input.Description" class="text-warning"></span>
    </div>
    
    <div class="o-form-group">
        <label asp-for="Input.Hook"></label>
        <textarea asp-for="Input.Hook" 
                placeholder="The first thing visible on every list of stories" 
                class="o-form-control active-border"
                v-model="hook.current">
        </textarea>
        <span class="counter">{{hookCount}}</span>
        <span asp-validation-for="Input.Hook" class="text-warning"></span>
    </div>
    
    <div class="o-form-group">
        <label asp-for="Input.Cover"></label>
        <p>First thing people often notice</p>
        <input asp-for="Input.Cover" 
                type="file" 
                class="o-form-control active-border">
        <span asp-validation-for="Input.Cover" class="text-warning"></span>
    </div>
    
    <div class="o-form-group">
        <label>Rating</label>
        <p>What audience is the story suitable for</p>
        
        <div class="ratings">
            @foreach (var rating in Model.Ratings)
            {
                <div class="rating">
                    @if (rating.Id == Model.Input.Rating)
                    {
                        <input asp-for="Input.Rating" class="radio" type="radio" id="@rating.Name.ToLower()" value="@rating.Id" checked="checked">
                    }
                    else
                    {
                        <input asp-for="Input.Rating" class="radio" type="radio" id="@rating.Name.ToLower()" value="@rating.Id" >
                    }
                    <label class="radio-label active-border" for="@rating.Name.ToLower()">
                        <img src="@rating.Icon" alt="">
                        <div class="main">
                            <strong>@rating.Name</strong>
                            <span>@rating.Description</span>
                        </div>
                    </label>
                </div>
            }
        </div>
        <span asp-validation-for="Input.Rating" class="text-warning"></span>
        
    </div>
        

        <select style="visibility: collapse" asp-for="Input.Tags" asp-items="Model.TagOptions" multiple="multiple" id="slim-select">
            <option v-for="s in selected" :value="s.id" selected>{{s.name}}</option>
        </select>
    
    
        <div class="o-form-group tag-search">
            <label asp-for="Input.Tags"></label>
            <p>To make the story easier to find</p>
            
            <div class="tags">
              <div class="tag" v-bind:style="{background: s.rgba}" v-for="s in selected">
                {{s.namespace ? s.namespace+':' : ''}}{{s.name}}
                <icon icon="clear" v-on:click="remove(s)"></icon>
              </div>
            </div>
            
            <input class="search" type="text" placeholder="Search..." v-model="search">
            <span asp-validation-for="Input.Tags" class="text-warning"></span>
            
            <ol class="search-results">
              <li v-for="o in filtered" :style="{background: o.rgba}" :class="o.hidden ? 'hidden' : null" v-on:click="addUnique(o)">
                <span class="name">{{o.namespace ? o.namespace+':' : ''}}{{o.name}}</span>
                <span class="desc">{{o.description}}</span>
              </li>
            </ol>

      </div>
        
    <button type="submit" class="btn btn-primary" >Update</button>
    
    <div id="v-title" style="background:indianred;padding:5rem" data-title="@Model.Input.Title"        v-if="!title.current"></div>
    <div id="v-desc"  style="background:indianred;padding:5rem" data-desc= "@Model.Input.Description"  v-if="!desc.current"></div>
    <div id="v-hook"  style="background:indianred;padding:5rem" data-hook= "@Model.Input.Hook"         v-if="!hook.current"></div>
    
    <div id="v-id" style="background:indianred;padding:5rem" data-id= "@Model.Input.Id" v-if="!id"></div>
    
    <div id="route" style="background:indianred;padding:5rem" data-route="@Url.RouteUrl(nameof(TagsController))" v-if="!route"></div>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />       
    <script src="/js/edit-story.min.js" asp-append-version="true"></script>
}
