@page
@using Ogma3.Data.Stories
@model IndexModel

@{
	ViewData["Title"] = "Browse stories";
	ViewData["ActivePage"] = "Stories";
}

<partial name="_SubNavigation" />

<form id="search" class="search form" method="GET">

	<div class="o-form-group w-3">
		<label for="query">Search</label>
		<input class="active-border"
		       id="query"
		       name="Query"
		       type="text"
		       value="@Model.Query">
	</div>

	<div class="o-form-group w-1">
		<label for="rating">Rating</label>
		<select class="active-border"
		        name="Rating"
		        id="rating">
			<option value="">---</option>
			@foreach (var r in Model.Ratings)
			{
				<option selected="@(r.Id == Model.Rating)" value="@r.Id">@r.Name</option>
			}
		</select>
	</div>

	<div class="o-form-group w-1">
		<label for="sort">Sort</label>
		<select class="active-border"
		        name="Sort"
		        id="sort"
		        asp-for="Sort"
		        asp-items="Html.GetEnumSelectList<EStorySortingOptions>()">
		</select>
	</div>

	<div class="o-form-group w-1">
		<label for="sort">Status</label>
		<select class="active-border status"
		        name="Status"
		        id="status">
			<option value="">---</option>
			@foreach (var s in EStoryStatusExtensions.GetValues().Where(v => v != EStoryStatus.Unspecified))
			{
				<option selected="@(Model.Status == s)" value="@s">@s.GetEmoji() @s.ToStringFast()</option>
			}
		</select>
	</div>

	<input class="btn btn-primary w-3" type="submit" value="Search">

</form>

<br>

<div>
	@if (Model.Stories is { Count: <= 0})
	{
		<h1>No stories found</h1>
	}
	else
	{
		foreach (var story in Model.Stories)
		{
			<partial name="Shared/Cards/_StoryCard" model="@story" />
		}

		<partial name="_Pagination" model="Model.Pagination" />
	}
</div>

@section Scripts
{
}