@page
@model Ogma3.Pages.Stories.PublishModel

@{
    ViewData["Title"] = Model.Story.IsPublished ? "Unpublish story" : "Publish story";
}

<h2>@Model.Story.Title</h2>
<div>
    <h3>Are you sure you want to @(Model.Story.IsPublished ? "unpublish" : "publish") this story?</h3>
    <hr />
    <dl class="rows">
        <dt>
            Published on:
        </dt>
        <dd>
            @Model.Story.ReleaseDate
        </dd>
        <dt>
            Hook:
        </dt>
        <dd>
            <markdown>
                @Model.Story.Hook
            </markdown>
        </dd>
        <dt>
            Published status:
        </dt>
        <dd>
            @(Model.Story.IsPublished ? "Published" : "Not published")
        </dd>
        <dt>
            Progress:
        </dt>
        <dd>
            <story-status status="@Model.Story.Status"></story-status>
        </dd>
        <dt>
            Score:
        </dt>
        <dd>
            @Model.Story.Score
        </dd>
        <dt>
            Chapters:
        </dt>
        <dd>
            @Model.Story.Chapters.Count
        </dd>
        <dt>
            Comments:
        </dt>
        <dd>
            @Model.Story.CommentsCount
        </dd>
    </dl>
    
    <form method="post" class="confirm">
        <input type="hidden" asp-for="Story.Id" />
        <div class="buttons">
            <input type="submit" 
                   value="@(Model.Story.IsPublished ? "Unpublish" : "Publish")" 
                   class="button accept @(Model.Story.IsPublished ? "red" : "green")" />
            <a asp-page="../Story" class="button cancel" asp-route-id="@Model.Story.Id" asp-route-slug="@Model.Story.Slug">Cancel</a>
        </div>
    </form>
</div>
