@page
@using System.Globalization
@using Ogma3.Data.Infractions
@using Routes.Areas.Identity.Pages
@model Ban

@{
	ViewData["Title"] = "You've been banned";
}

<div class="ban-info">
	<h1>You have been banned</h1>
	<h2>
		Until
		<time-display
			utc-date="Model.BannedUntil"
			formatter="@(d => d.ToString("dd MMMM yyyy", CultureInfo.InvariantCulture))">
		</time-display>
	</h2>
</div>

<h3>And here's why:</h3>

@foreach (var i in Model.Infractions)
{
	var isDone = i.ActiveUntil < DateTimeOffset.UtcNow || i.RemovedAt is not null;

	<details class="infraction details">
		<summary class="@(isDone ? "passed" : null)">
			<b class="type @i.Type.ToStringFast().ToLower()">@i.Type</b> issued <time-display utc-date="i.IssueDate" formatter="@(dt => dt.ToString("dd.MM.yyyy HH:mm"))"></time-display>, expires <time-display utc-date="i.ActiveUntil" formatter="@(dt => dt.ToString("dd.MM.yyyy HH:mm"))"></time-display>
		</summary>
		@if (i.RemovedAt is {} d)
		{
			<div class="time">Removed on <time-display utc-date="d" formatter="@(dt => dt.ToString("dd.MM.yyyy HH:mm"))"></time-display></div>
		}
		<div class="reason">
			<b>Reason:</b> @i.Reason
		</div>
	</details>
}

<br>

<a class="btn btn-primary" for-route="@Account_Logout.Get()">
	Log out
</a>