@page "/story/{sid}/chapter/{id}/{slug?}"
@using System.Globalization
@using Microsoft.AspNetCore.Antiforgery
@using Ogma3.Data.Reports
@using Ogma3.Infrastructure.Constants
@using Ogma3.Infrastructure.Extensions
@model ChapterModel
@inject IAntiforgery Antiforgery
@{
	var desc = $"{Model.Chapter.StoryTitle} – chapter {Model.Chapter.Order}";

	ViewData["Title"] = Model.Chapter.Title;
	ViewData["Description"] = desc;
	ViewData["Rating"] = Model.Chapter.StoryRatingName;

	var csrf = Antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

@section OgMeta {
	<meta property="og:type" content="book.chapter">
	<meta property="og:url" content="@Url.PageLink("/Chapter", values: new { Model.Chapter.Id, Model.Chapter.Slug })">
	<meta property="og:description" content="@desc">
}

<div class="chapter-container">
	<article class="chapter-details" id="chapter-app" itemscope itemtype="https://bib.schema.org/Chapter">

		<a class="story" asp-page="/Story" asp-route-id="@Model.Chapter.StoryId" asp-route-slug="@Model.Chapter.StorySlug">@Model.Chapter.StoryTitle</a>
		<h1 class="title" itemprop="name">@Model.Chapter.Title</h1>
		@if (Model.Chapter.PublicationDate is {} date)
		{
			<time class="date" itemprop="datePublished" datetime="@date.ToString(CultureInfo.InvariantCulture)">
				@date.ToString("dd MMMM yyyy", CultureInfo.InvariantCulture)
			</time>
		}
		else
		{
			<span class="date not-published">
				Not published
			</span>
		}

		@if (User.Identity?.IsAuthenticated ?? false)
		{
			<div class="actions">

				<a title="Write about it" class="action-btn" asp-page="/Blog/Create" asp-route-chapter="@Model.Chapter.Id">
					<icon class="icon" icon="note_add"></icon>
					<span class="name">Write about it</span>
				</a>

				@if (User.IsUserSameAsLoggedIn(Model.Chapter.StoryAuthorId))
				{
					<a title="Edit" class="action-btn" asp-page="./Chapters/Edit" asp-route-id="@Model.Chapter.Id">
						<icon class="icon" icon="edit"></icon>
						<span class="name">Edit</span>
					</a>
				}
				@if (User.IsInRole(RoleNames.Admin) || User.IsInRole(RoleNames.Moderator))
				{
					<a title="Manage" class="action-btn red" target="_blank"
					   asp-area="Admin" asp-page="/ContentBlock"
					   asp-route-type="chapter" asp-route-id="@Model.Chapter.Id">
						<icon class="icon" icon="shield"></icon>
					</a>
				}
				<button title="Report" class="action-btn red" id="open-modal-button">
					<icon class="icon" icon="flag"></icon>
				</button>
			</div>
		}

		@if (Model.Chapter.ContentBlock is not null)
		{
			<partial name="Shared/_ContentBlockCard" model="Model.Chapter.ContentBlock"/>
		}

		<div class="body-container">

			@if (!string.IsNullOrEmpty(Model.Chapter.StartNotes))
			{
				<aside class="start notes">
					<span class="an">Author's notes:</span> @Model.Chapter.StartNotes
				</aside>
			}

			<markdown preset="Basic" class="body" itemprop="text">
				@Model.Chapter.Body
			</markdown>

			@if (!string.IsNullOrEmpty(Model.Chapter.EndNotes))
			{
				<aside class="start notes">
					<span class="an">Author's notes:</span> @Model.Chapter.EndNotes
				</aside>
			}

		</div>

		<o-read-progress data-csrf="@csrf" data-chapter="@Model.Chapter.Id" data-story="@Model.Chapter.StoryId" id="chapter-progress" v-pre></o-read-progress>
	</article>

	<div class="navigation">
		@if (Model.Previous is not null)
		{
			<a asp-page="/Chapter"
			   asp-route-id="@Model.Previous.Id"
			   asp-route-slug="@Model.Previous.Slug"
			   class="previous active-border">
				<span class="action">Previous</span>
				<span class="title">@Model.Previous.Title</span>
			</a>
		}
		@if (Model.Next is not null)
		{
			<a asp-page="/Chapter"
			   asp-route-id="@Model.Next.Id"
			   asp-route-slug="@Model.Next.Slug"
			   class="next active-border">
				<span class="action">Next</span>
				<span class="title">@Model.Next.Title</span>
			</a>
		}
	</div>

	<partial name="_Comments" model="@Model.CommentsThread"/>
</div>

<report-modal
	itemId="@Model.Chapter.Id"
	itemType="@EReportableContentTypes.Chapter"
	csrf="@csrf"
	openSelector="#open-modal-button">
</report-modal>

@section Scripts
{
	<script src="~/js/dist/watch-chapter-read.js" async asp-append-version="true"></script>
}