@page "{slug}"
@using Utils.Extensions
@model Docs

@{
	ViewData["Title"] = Model.Document.Title;
	var maxVersion = Model.Versions.Select(v => v.Version).Max();
	var digits = (int)Math.Abs(Math.Log(maxVersion, 10)) + 1;
}

<article class="document">
	<h1 class="header">@Model.Document.Title</h1>

	@if (Model.Document.Headers.Any())
	{
		<div class="toc">
			@foreach (var h in Model.Document.Headers)
			{
				<a href="#@h.Body.Friendlify()@(h.Occurrence > 0 ? $"-{h.Occurrence}" : "")"
				   class="toc-h @("h" + h.Level)">
					@h.Body
				</a>
			}
		</div>
	}

	<div class="md">
		@Html.Raw(Model.Document.CompiledBody)
	</div>

	<details class="details">
		<summary>Version history</summary>
		<ul class="my-list">
			@foreach (var ver in Model.Versions)
			{
				<li class="item">
					<a asp-page="/Docs" asp-route-v="@ver.Version" asp-route-slug="@ver.Slug">
						version @ver.Version.ToString($"D{digits}") — <time datetime="@ver.CreationTime.ToString("O")">@ver.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")</time>
					</a>
					@if (ver.Version == Model.Document.Version)
					{
						<span class="current">current</span>
					}
				</li>
			}
		</ul>
	</details>
</article>