@page
@using System.Security.AccessControl
@using Ogma3.Data.Models
@using Utils
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<markdown preset="Basic">
    # Hello World!
    
    **Testing More**
    
    *And More*
    
    ~~strike~~
    
    ^sup^
    
    ~sub~
    
    ++ins++
    
    ==marked==
    
    a. extra
    b. bullet
    c. list
    
    https://youtube.com
    
    [link](https://localhost:5001/)

    ____
    
    > [!IMPORTANT]
    > Essential information required for user success.
    
    ____
    

</markdown>

<div>
    @foreach (Story s in Model.Stories)
    {
        <div style="display:flex; flex-direction:row">
            <img src="@s.Cover" alt="@s.Title" />
            <div style="display:flex; flex-direction: column">
                <h3>@s.Title</h3>
                <div>@s.Hook</div>
                <div style="display:flex; flex-direction:row; flex-wrap:wrap">
                    @foreach (Tag t in s.StoryTags.Select(st => st.Tag))
                    {
                        if (t.Namespace is null)
                        {
                            <p style="border:1px solid black;">@t.Name</p>
                        }
                        else
                        {
                            <p style="border:1px solid black; background-color:rgba(@t.Namespace.Color.ToCommaSeparatedCss())">@t.Namespace.Name:@t.Name</p>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.Raw(Model.SampleText)
</div>
