@page
@using Ogma3.Services
@using Ogma3.Api.V1
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["ActivePage"] = "Home";
}

<partial name="_SubNavigation" />

<div id="quote" class="quote active-border">
    <button class="refresh" v-on:click="fetch">
        <icon icon="refresh" :class="loading ? 'spin' : ''"></icon>
    </button>
    <em class="body">{{quote}}</em>
    <span class="author">~ {{author}}</span>
    <div v-if="!route" id="quote-route" data-route="@Url.RouteUrl(nameof(QuotesController))/random"></div>
</div>


<div id="tabs" class="tab-view mt-3">
    <div class="tabs">
        <button class="tab"
                :class="tabindex === 0 ? 'active' : ''"
                v-on:click="tabindex = 0">
            Top
        </button>
        <button class="tab"
                :class="tabindex === 1 ? 'active' : ''"
                v-on:click="tabindex = 1">
            New
        </button>    
        <button class="tab"
                :class="tabindex === 2 ? 'active' : ''"
                v-on:click="tabindex = 2">
            Updated
        </button>  
    </div>
    
    <div class="tab-body" v-if="tabindex === 0">
        <h2 class="title">Top stories of all time</h2>

        <div>
            @foreach (var story in Model.TopStories)
            {
                <partial name="Shared/_StoryCard" model="@story" />
            }
        </div>
    </div>
    
    <div class="tab-body" v-if="tabindex === 1">
        <h2 class="title">Newest stories</h2>
        
        <div>
            @foreach (var story in Model.RecentStories)
            {
                <partial name="Shared/_StoryCard" model="@story" />
            }
        </div>
    </div>
    
    <div class="tab-body" v-if="tabindex === 2">
        <h2 class="title">Freshly updated</h2>
        
        <div>
            @foreach (var story in Model.LastUpdatedStories)
            {
                <partial name="Shared/_StoryCard" model="@story" />
            }
        </div>
    </div>
    
</div>


@Html.Resource(@<script src="~/js/dist/quote.min.js" asp-append-version="true"></script>)
@Html.Resource(@<script src="~/js/dist/tabs.min.js" asp-append-version="true"></script>)