@page "{id}/{slug?}"
@inject IAntiforgery Antiforgery
@using System.Globalization
@using Microsoft.AspNetCore.Antiforgery
@using Ogma3.Api.Rss
@using Ogma3.Data.Reports
@using Ogma3.Infrastructure.Constants
@using Ogma3.Infrastructure.Extensions
@model StoryModel

@{
	ViewData["Title"] = Model.Story.Title;
	ViewData["Description"] = Model.Story.Hook;
	ViewData["Rating"] = Model.Story.Rating.Name;

	var uid = User.GetNumericId();
	var csrf = Antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

@section OgMeta {
	<meta property="og:type" content="book">
	<meta property="og:url" content="@Url.PageLink("/Story", values: new { Model.Story.Id, Model.Story.Slug })">
	<meta property="og:description" content="@Model.Story.Hook">
	<meta property="og:image" content="https:@Model.Story.Cover">
}

<partial name="Shared/Bars/_ProfileBar" model="Model.ProfileBar"/>

@if (Model.Story.ContentBlock is not null)
{
	<partial name="Shared/_ContentBlockCard" model="Model.Story.ContentBlock"/>
	<br>
}

<div id="story-app">
	<div id="story-details" class="story-details" itemscope itemtype="https://schema.org/Book">

		<div class="actions">

			<o-vote storyId="@Model.Story.Id" csrf="@csrf"></o-vote>

			<noscript>
				<div class="votes action-btn large" title="Score">
					<icon icon="ic:round-star-border" svg="true" class="material-icons-outlined"></icon>
					<span class="count">@Model.Story.VotesCount</span>
				</div>
			</noscript>

			@if (User.Identity?.IsAuthenticated ?? false)
			{
				<a title="Write about it" class="action-btn large" asp-page="./Blog/Create" asp-route-story="@Model.Story.Id">
					<icon class="icon" icon="lucide:notebook-pen" svg="true"></icon>
					<span class="name">Write about it</span>
				</a>
			}

			@if (Model.Story.AuthorId == uid)
			{
				<a title="Edit" class="action-btn large" asp-page="./Stories/Edit" asp-route-id="@Model.Story.Id">
					<icon class="icon" icon="lucide:pencil" svg="true"></icon>
					<span class="name">Edit</span>
				</a>

				<a title="New chapter" class="action-btn large" asp-page="./Chapters/Create" asp-route-id="@Model.Story.Id">
					<icon class="icon" icon="lucide:file-plus" svg="true"></icon>
					<span class="name">New chapter</span>
				</a>
			}
			@if (!Model.Story.IsPublished)
			{
				<span class="action-btn large red">
					<icon class="icon" icon="lucide:eye-off" svg="true"></icon>
				</span>
			}
			@if (User.IsInRole(RoleNames.Admin) || User.IsInRole(RoleNames.Moderator))
			{
				<a title="Manage" class="action-btn large red" target="_blank"
				   asp-area="Admin" asp-page="/ContentBlock"
				   asp-route-type="story" asp-route-id="@Model.Story.Id">
					<icon class="icon" icon="lucide:shield" svg="true"></icon>
				</a>
			}
			@if (User.Identity?.IsAuthenticated ?? false)
			{
				<button title="Report" class="action-btn large red" id="open-modal-button">
					<icon class="icon" icon="lucide:flag" svg="true"></icon>
				</button>
			}

			@if (User.Identity?.IsAuthenticated ?? false)
			{
				<div class="spacer"></div>
				<o-shelves storyId="@Model.Story.Id" csrf="@csrf"></o-shelves>
			}

		</div>

		@* <cache expires-after="TimeSpan.FromMinutes(60)"> *@

		<div class="titlebar">
			@* TODO: height and width *@
			<img src="@Model.Story.Rating.Icon"
			     alt="Rated: @Model.Story.Rating.Name"
			     title="Rating: @Model.Story.Rating.Name"
			     class="rating"
			     loading="lazy"/>
			<span style="display:none" itemprop="contentRating">@Model.Story.Rating.Name</span>
			<h1 class="title" itemprop="name">@Model.Story.Title</h1>
		</div>

		<div class="tags" itemprop="keywords">
			<story-status status="@Model.Story.Status"></story-status>
			@foreach (var t in Model.Story.Tags)
			{
				<tag tag="@t"></tag>
			}
		</div>

		<div class="main">

			<img src="@Model.Story.Cover" alt="@Model.Story.Title cover image" class="cover" height="160" width="160" itemprop="thumbnailUrl"/>

			<div class="description" itemprop="abstract">
				<markdown preset="Basic">@Model.Story.Description</markdown>
			</div>
		</div>

		@* </cache> *@
	</div>

	@if (Model.Story.Credits is { Count: > 0 })
	{
	<details class="credits">
		<summary>Credits</summary>
		<table>
			<tr>
				<th>Role</th>
				<th>Name</th>
			</tr>
			@foreach (var credit in Model.Story.Credits)
			{
			<tr>
				<td>@credit.Role</td>
				<td>
					@if (credit.Link is not null)
					{
					<a href="@credit.Link" target="_blank" noopener noreferrer>@credit.Name</a>
					}
					else
					{
					@credit.Name
					}
				</td>
			</tr>
			}
		</table>
	</details>
	}

	@if (Model.Chapters.Length <= 0)
	{
		<a class="start active-border" asp-controller="Chapter" asp-action="FirstChapter" asp-route-sid="@Model.Story.Id">Start reading</a>
	}

	<div class="info">
		<span class="word-count">@Model.Story.WordCount.ToString("N0") words</span>
		<span class="chapter-count">@Model.Story.ChaptersCount chapters</span>
		<span class="comment-count">@Model.Story.CommentsCount comments</span>
		<time class="release-date" title="Publication date" datetime="@Model.Story.ReleaseDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture)" itemprop="datePublished">
			@Model.Story.ReleaseDate.ToString("dd MMMM yyyy", CultureInfo.InvariantCulture)
		</time>

		<div class="spacer"></div>

		@if (User.Identity?.IsAuthenticated ?? false)
		{
			<o-club-folder-selector storyId="@Model.Story.Id"
			                        csrf="@csrf">
			</o-club-folder-selector>
		}

		<o-featured-in-clubs storyId="@Model.Story.Id"></o-featured-in-clubs>

		<a asp-route="@(nameof(GetChaptersRssFeed))" asp-route-storyid="@Model.Story.Id" title="RSS feed of the chapters">
			<icon icon="lucide:rss" svg="true"></icon>
		</a>
	</div>

	<ol class="chapters">
		@if (Model.Chapters.Length <= 0)
		{
			<li class="chapter">
				<div class="title">No chapters found</div>
			</li>
		}
		else
		{
			var order = 1;
			foreach (var c in Model.Chapters)
			{
				<li class="chapter @(c.IsPublished ? "" : "unpublished")">
					<div class="left">

						<button class="read-status"
						        aria-label="Chapter read status"
						        data-id="@c.Id">
							<icon icon="lucide:eye-off" svg="true"></icon>
						</button>

						<span class="order">@(order++)</span>

						@if (c.IsBlocked)
						{
							<icon icon="lucide:triangle-alert" svg="true" class="warning" title="This chapter has been blocked by staff"></icon>
						}

						<a class="title" asp-page="/Chapter" asp-route-sid="@Model.Story.Id" asp-route-id="@c.Id" asp-route-slug="@c.Slug">
							@c.Title
						</a>

						<time class="date" datetime="@c.PublishDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture)">
							@c.PublishDate.ToString("dd MMMM yyyy", CultureInfo.InvariantCulture)
						</time>

					</div>
					<div class="right">
						<span class="word-count">@c.WordCount.ToString("N0") words</span>
					</div>
				</li>
			}
		}
	</ol>

	<report-modal
		itemId="@Model.Story.Id"
		itemType="@EReportableContentTypes.Story"
		csrf="@csrf"
		openSelector="#open-modal-button">
	</report-modal>

	<div id="story-id" data-story-id="@Model.Story.Id"></div>
	<div id="x-csrf" data-x-csrf="@csrf"></div>

	<div class="backdrop">
		<img src="@Model.Story.Cover" alt="@Model.Story.Title backdrop image" height="1000" width="1920" loading="lazy" />
	</div>
</div>

@section Scripts
{
	<script defer src="~/js/chapter-reads.js" asp-append-version="true"></script>
}