@page "/club/{id:long}/edit/manage-members"
@model ManageUsers

@{
	ViewData["Title"] = $"{Model.Club.Name} — Manage Members";
	ViewData["Tab"] = "Members";
}

<h1>@ViewData["Title"]</h1>

<br>

<div class="button-group">
	<a title="Cancel" class="action-btn large" asp-page="/Club/Index" asp-route-id="@Model.Club.Id" asp-route-slug="@Model.Club.Slug">
		<icon class="icon" icon="lucide:arrow-left" svg="true"></icon>
		<span class="name">Back to club</span>
	</a>
	<a title="Delete" class="action-btn large" asp-page="/Clubs/Edit" asp-route-id="@Model.Club.Id">
		<icon class="icon" icon="lucide:pencil" svg="true"></icon>
		<span class="name">Back to managing</span>
	</a>
</div>

<hr>

<ul class="two-columns o-grid">
	@foreach (var user in Model.Users)
	{
		<div class="user-card">

			@* TODO: height and width *@
			<img src="@user.Avatar" alt="@(user.Name)'s avatar" class="avatar" loading="lazy" />

			<a asp-page="/User/Index" asp-route-name="@user.Name.ToUpper()" class="name">
				@user.Name
			</a>

			<div class="roles">
				<div class="role-tag">
					<span class="name">@user.Role</span>
				</div>
			</div>
		</div>
	}
</ul>