@model FolderCard

<div class="folder-card active-border">
	<a class="name" asp-page="/Club/Folders/Folder" asp-route-id="@Model.Id" asp-route-clubid="@Model.ClubId" asp-route-slug="@Model.Slug">
		@Model.Name
	</a>

	<markdown preset="Basic" class="desc">@Model.Description</markdown>

	<div class="count">
		<strong>@Model.StoriesCount</strong>
		<span>stories</span>
	</div>
</div>