@using System.Globalization
@using Utils.Extensions
@model StoryCard

<div class="story-card">

    <cdn-img class="image" 
             buster="@Model.CoverId"
             src="@Model.Cover" 
             alt="@Model.Title" 
             width="160" height="160" />
    
    <a asp-page="/Story" asp-route-id="@Model.Id" asp-route-slug="@Model.Slug" class="title">
        <cdn-img src="@Model.Rating.Icon" 
                 alt="Rated: @Model.Rating.Name" 
                 title="Rating: @Model.Rating.Name" 
                 class="rating"/>
        <h3>@Model.Title</h3>
    </a>
    
    <h4 class="author">
        <a asp-page="/User/Index" asp-route-name="@Model.AuthorUserName">By @Model.AuthorUserName</a>
    </h4>
    
    <div class="hook">
        <markdown>
            @Model.Hook
        </markdown>
    </div>
    
    <div class="tags">
        <story-status status="@Model.Status"></story-status>
        @foreach (var t in Model.Tags)
        {
            <tag tag="t"></tag>
        }
    </div>
    
    <div class="info">
        <span class="word-count">@Model.WordCount.ToString("N0") words</span>
        <span class="chapter-count">@Model.ChapterCount chapters</span>
        <time class="release-date" datetime="@Model.ReleaseDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture)">
            published @Model.ReleaseDate.FormatDateWithDaySuffix()
        </time>        
        @if (!Model.IsPublished)
       {
           <span class="not-published">
               <icon class="icon" icon="visibility_off"></icon>
               Not published
           </span>
       }
    </div>
</div>

