@using Routes.Pages
@using Utils.Extensions
@model StoryCard

@{
	var authorRoute = User_Index.Get(Model.AuthorUserName);
	var storyRoute = Story.Get(Model.Id, Model.Slug);
}

<div class="story-card">

	<img class="image"
	     src="@(Model.Cover ?? "/img/placeholders/ph-250.png")"
	     alt="@Model.Title"
	     width="160" height="160" cf/>

	<div class="title">
		<h3>
			<partial name="_RatingIcon" model="Model.Rating"/>

			<a for-route="storyRoute">@Model.Title</a>
		</h3>
	</div>

	<a class="author" for-route="authorRoute">By @Model.AuthorUserName</a>

	<div class="hook">
		<markdown preset="Basic">
			@Model.Hook
		</markdown>
	</div>

	<div class="tags">
		<story-status status="@Model.Status"></story-status>
		@foreach (var t in Model.Tags)
		{
			<tag tag="t"></tag>
		}
		@foreach (var et in Model.ExtraTags)
		{
			<span class="extra tag">@et</span>
		}
	</div>

	<div class="info">

		<span class="score">
			<icon name="lucide:star"></icon>
			@Model.Score @(Model.Score == 1 ? "star" : "stars")
		</span>

		<span class="word-count">
			<icon name="lucide:pencil"></icon>
			@Model.WordCount.ToString("N0") words
		</span>

		<span class="chapter-count">
			<icon name="lucide:file-text"></icon>
			@Model.ChapterCount @(Model.ChapterCount == 1 ? "chapter" : "chapters")
		</span>

		@if (Model is { PublicationDate: {} date, IsVisible: true })
		{
			<span class="published">
				<icon name="lucide:calendar-days"></icon>
				published
				<time-display utc-date="date" formatter="d => d.FormatDateWithRomanMonth()"></time-display>
			</span>
		}
		else
		{
			<span class="not-published">
				<icon class="icon" name="lucide:eye-off"></icon>
				Not published
			</span>
		}
	</div>
</div>