@using System.Globalization
@using Humanizer
@model ThreadCard

<div class="thread-card @(Model.IsPinned ? "pinned" : "")">
	<img class="img"
	     src="@Model.AuthorAvatar"
	     alt="@(Model.AuthorName)'s avatar"
	     width="70" height="70" cf />

	<a class="title"
	   asp-page="/Club/Forums/Details"
	   asp-route-clubId="@Model.ClubId"
	   asp-route-threadId="@Model.Id">
		@if (Model.IsPinned)
		{
			<icon icon="lucide:pin" svg="true"></icon>
		}
		@Model.Title
	</a>

	<div class="meta">

		<span class="author">
			@Model.AuthorName
		</span>

		<time class="date"
		      datetime="@Model.CreationDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture)"
		      title="@Model.CreationDate.ToString("dd MMMM yyyy HH:mm", CultureInfo.InvariantCulture)">
			@Model.CreationDate.Humanize(culture: CultureInfo.InvariantCulture)
		</time>

	</div>

	<div class="comment-count">
		<icon class="icon" icon="lucide:message-square" svg="true"></icon>
		@Model.CommentsCount
	</div>
</div>