@model UserCard

<div class="user-card">

	<cdn-img src="@Model.Avatar" class="avatar"/>

	<a asp-page="/User/Index" asp-route-name="@Model.UserName.ToUpper()" class="name">
		@Model.UserName
	</a>

	<div class="roles">
		@foreach (var r in Model.Roles)
		{
			<div class="role-tag">
				<div class="bg" style="background-color: @r.Color"></div>
				<span class="name">@r.Name</span>
			</div>
		}
	</div>

	<div class="title">@Model.Title</div>

</div>