@page
@model Ogma3.Pages.Clubs.EditModel

@{
    ViewData["Title"] = $"Edit {Model.Club.Name}";
}

<h1>@ViewData["Title"]</h1>

<form class="form" id="club" method="post" enctype="multipart/form-data" v-on:submit="onSubmit">

    <div asp-validation-summary="All">
        <span>Please correct the following errors</span>
    </div>

    <input-counter ref="title"
                   :min="@CTConfig.CClub.MinNameLength"
                   :max="@CTConfig.CClub.MaxNameLength"
                   validate-msg="@CTConfig.CClub.ValidateLengthMsg"
                   label="@nameof(Model.Club.Name)"
                   value="@Model.Club.Name"
                   desc="Try something catchy">
    </input-counter>

    <textarea-counter ref="desc"
                      :max="@CTConfig.CClub.MaxDescriptionLength"
                      validate-msg="@CTConfig.CClub.ValidateLengthMsg"
                      label="@nameof(Model.Club.Description)"
                      value="@Model.Club.Description"
                      desc="This will show on the club's home page">
    </textarea-counter>

    <input-counter ref="hook"
                   :min="@CTConfig.CClub.MinHookLength"
                   :max="@CTConfig.CClub.MaxHookLength"
                   validate-msg="@CTConfig.CClub.ValidateLengthMsg"
                   label="@nameof(Model.Club.Hook)"
                   value="@Model.Club.Hook"
                   desc="The short description that will appear on the clubs list">
    </input-counter>

    <input-file ref="cover"
                :max="@CTConfig.CClub.CoverMaxWeight"
                validate-msg="@CTConfig.CClub.ValidateFileWeight"
                label="@nameof(Model.Club.Icon)"
                desc="Something that will set your club apart">
    </input-file>

    <div class="o-form-group">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>

</form>

@section Scripts {
    <script src="~/js/dist/components/input-counter-component.min.js" asp-append-version="true"></script>
    <script src="~/js/dist/components/textarea-counter-component.min.js" asp-append-version="true"></script>
    <script src="~/js/dist/components/input-file-component.min.js" asp-append-version="true"></script>
    <script src="~/js/dist/editors/club.min.js" asp-append-version="true"></script>
}
