@page
@model Ogma3.Pages.Clubs.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["ActivePage"] = "Clubs";
}

<partial name="_SubNavigation" />

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Club[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club[0].Hook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club[0].Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club[0].IconId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club[0].CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Club) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IconId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
