@page "/login"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form class="form" id="account" method="post">
                <h4>Use a local account to log in.</h4>

                <hr />

                <img style="width:200px;height:200px" :src="avatar" class="rounded mx-auto d-block" :alt="`${name}'s avatar`">
                <h5 class="text-center">{{title}}</h5>
                
                <div class="o-form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="o-form-control active-border" v-model="name" :readonly="checked" autocomplete="username"/>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                
                <div class="o-form-group" v-if="checked">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="o-form-control active-border" autocomplete="current-password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
                
                <div class="o-form-group" v-if="checked">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                
                <div class="o-form-group" v-if="!checked">
                    <button class="btn btn-primary" v-on:click="checkDetails">Next</button>
                </div>
                
                <div class="o-form-group" v-if="checked">
                    <button class="btn btn-secondary" v-on:click="reset">Back</button>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>


<div id="route" style="background:indianred;padding:5rem" data-route="/api/Users/signin" v-if="!route"></div>
@section Scripts {

    @* <partial name="_ValidationScriptsPartial" /> *@
    <script src="~/js/login.min.js" asp-append-version="true"></script>
}
