@page "/login"
@model LoginModel

@{
	ViewData["Title"] = "Log in";
	Request.Cookies.TryGetValue("theme", out var theme);
	theme ??= "light";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<hr>
<partial name="_StatusMessage" model="Model.ErrorMessage" />

<div class="login-form">
	<section class="left">
		<form class="form" id="account" method="post">

			<div asp-validation-summary="All" class="text-danger"></div>

			<img width="240" height="240"
			     id="user-avatar"
			     src="https://picsum.photos/200"
			     alt="Avatar"
			     class="avatar"
			     role="presentation">
			<h5 id="user-title" class="title"></h5>

			<div class="o-form-group">
				<label asp-for="Input.Name"></label>
				<input asp-for="Input.Name" class="o-form-control active-border" autocomplete="username" />
				<span asp-validation-for="Input.Name" class="text-danger"></span>
			</div>

			<div class="o-form-group">
				<label asp-for="Input.Password"></label>
				<div class="input-group push">
					<input asp-for="Input.Password" class="o-form-control active-border" autocomplete="current-password" />
					<o-password-toggle></o-password-toggle>
				</div>
				<span asp-validation-for="Input.Password" class="text-danger"></span>
				<p>
					<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
				</p>
			</div>

			<div class="o-form-group remember-me">
				<label asp-for="Input.RememberMe">
					<input class="o-form-control" asp-for="Input.RememberMe" />
					@Html.DisplayNameFor(m => m.Input.RememberMe)
				</label>
			</div>

			<input name="@Model.HoneypotFieldName" type="text" autocomplete="off">

			<div class="o-form-group">
				<button type="submit" class="btn btn-primary register">Log in</button>
			</div>
		</form>
	</section>

	<section class="right">
		<h4>Use another service to log in.</h4>
		<hr />

			@if (Model.ExternalLogins.Count > 0)
			{
				var logoColor = theme == "light" ? "white" : "black";

				<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
					<div>
						<p>
							@foreach (var provider in Model.ExternalLogins)
							{
								<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
									<img alt="" src="https://api.iconify.design/simple-icons:@(provider.Name.ToLower()).svg?color=@logoColor" />
									@provider.DisplayName
								</button>
							}
						</p>
					</div>
				</form>
			}

	</section>
</div>

@section Scripts {
	<script type="module" src="~/js/login.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/password-input.js" asp-append-version="true"></script>
}

@section CSS {
	<link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
}