@page "/register"
@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore
@using reCAPTCHA.AspNetCore.Templates
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="login-form">
    <div class="left wide">
        <form class="form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="o-form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="o-form-control active-border" autocomplete="username"/>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="o-form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="o-form-control active-border" autocomplete="email"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="o-form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="o-form-control active-border" autocomplete="new-password"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="o-form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="o-form-control active-border" autocomplete="new-password"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            
            <div class="o-form-group">
                <label asp-for="Input.InviteCode"></label>
                <input asp-for="Input.InviteCode" class="o-form-control active-border" autocomplete="one-time-code">
                <span asp-validation-for="Input.InviteCode" class="text-danger"></span>
            </div>
            
            @(Html.Recaptcha<RecaptchaV2Checkbox>(RecaptchaSettings?.Value))

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
</div>             
@{
    if ((Model.ExternalLogins?.Count ?? 0) > 0)
    {
     <div class="col-md-6 col-md-offset-2">
         <section>
             <h4>Use another service to register.</h4>
             <hr />
             <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                 <div>
                     <p>
                         @foreach (var provider in Model.ExternalLogins)
                         {
                             <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                         }
                     </p>
                 </div>
             </form>
         </section>
     </div>                 
    }
}
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@section CSS {
    <link rel="stylesheet" href="~/css/dist/login.min.css" asp-append-version="true">
}
