@page "/register"
@inject IOptions<TurnstileSettings> TurnstileSettings
@using Microsoft.Extensions.Options
@using Ogma3.Data
@using Ogma3.Services.TurnstileService
@model RegisterModel
@{
	ViewData["Title"] = "Register";
	Request.Cookies.TryGetValue("theme", out var theme);
	theme ??= "light";
}

<h1>@ViewData["Title"]</h1>

<div class="login-form">
	<div class="left wide">
		<form class="form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
			<h4>Create a new account.</h4>

			<div asp-validation-summary="All" class="text-danger"></div>

			<div class="o-form-group">
				<label asp-for="Input.Name"></label>
				<input asp-for="Input.Name" class="o-form-control active-border" autocomplete="username"/>
				<span asp-validation-for="Input.Name" class="text-danger"></span>
				<aside class="info" asp-for="Input.Name">Can consist of alphanumeric characters, dashes, underscores, and spaces</aside>
			</div>

			<div class="o-form-group">
				<label asp-for="Input.Email"></label>
				<input asp-for="Input.Email" class="o-form-control active-border" autocomplete="email"/>
				<span asp-validation-for="Input.Email" class="text-danger"></span>
				<aside class="info" asp-for="Input.Email">No worries, we will never send you unwanted spam</aside>
			</div>

			<div class="o-form-group">
				<label asp-for="Input.Password"></label>
				<div class="input-group push">
					<input asp-for="Input.Password" class="o-form-control active-border" autocomplete="new-password"/>
					<o-password-toggle></o-password-toggle>
				</div>
				<span asp-validation-for="Input.Password" class="text-danger"></span>
				<aside class="info" asp-for="Input.Password">
					The password must contain at least:
					<ul>
						<li class="nb">one digit</li>
						<li class="nb">one lowercase character</li>
						<li class="nb">one uppercase character</li>
						<li class="nb">one special character</li>
					</ul>
					and must be at least @CTConfig.User.MinPassLength characters long
				</aside>
			</div>

			<div class="o-form-group">
				<label asp-for="Input.ConfirmPassword"></label>
				<div class="input-group push">
					<input asp-for="Input.ConfirmPassword" class="o-form-control active-border" autocomplete="new-password"/>
					<o-password-toggle></o-password-toggle>
				</div>
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
				<aside class="info" asp-for="Input.ConfirmPassword">Just to be safe</aside>
			</div>

			<div class="o-form-group">
				<label asp-for="Input.InviteCode"></label>
				<input asp-for="Input.InviteCode" class="o-form-control active-border" autocomplete="one-time-code">
				<span asp-validation-for="Input.InviteCode" class="text-danger"></span>
				<aside class="info" asp-for="Input.InviteCode">Access will be public soon, but in the meantime you can ask for one on our Discord!</aside>
			</div>

			<div class="cf-turnstile" data-sitekey="@TurnstileSettings.Value.SiteKey" data-action="register" data-theme="@theme"></div>

			<input name="@Model.HoneypotFieldName" type="text" autocomplete="off">

			<button type="submit" class="btn btn-primary register" >Register</button>
		</form>
	</div>
	@if (Model.ExternalLogins.Count > 0)
	{
		<div class="col-md-6 col-md-offset-2">
			<section>
				<h4>Use another service to register.</h4>
				<hr/>
				<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
					<div>
						<p>
							@foreach (var provider in Model.ExternalLogins)
							{
								<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
							}
						</p>
					</div>
				</form>
			</section>
		</div>
	}
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial"/>
	<script type="module" src="~/js/account/register.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/password-input.js" asp-append-version="true"></script>
	<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer asp-add-nonce></script>
}

@section CSS {
	<link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
}