@page "{id}"
@model Ogma3.Pages.Club.Forums.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClubThread</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubThread.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubThread.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubThread.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubThread.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubThread.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubThread.CreationDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ClubThread.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
