@page "/club/{clubId:long}/thread/{threadId:long}"
@using Ogma3.Infrastructure.Extensions
@using Utils.Extensions
@model DetailsModel

@{
	ViewData["Title"] = $"{Model.ClubThread.Title}";
	ViewData["Tab"] = "Forums";
}

<partial name="Shared/Bars/_ClubBar" model="@Model.ClubBar"/>

<h1>
	@if (Model.ClubThread.IsPinned)
	{
		<icon icon="lucide:pin"></icon>
	}
	@Model.ClubThread.Title
</h1>

<div class="comment">

	<div class="author">
		<a asp-page="/User/Index" asp-route-name="@Model.ClubThread.AuthorName" class="name">
			@Model.ClubThread.AuthorName
		</a>

		@if (Model.ClubThread.AuthorRole is not null)
		{
			<div class="role-tag">
				<span class="name">@Model.ClubThread.AuthorRole.Name</span>
				<div class="bg" style="background-color: @Model.ClubThread.AuthorRole.Color"></div>
			</div>
		}

		@* TODO: height and width *@
		<img src="@Model.ClubThread.AuthorAvatar" alt="@Model.ClubThread.AuthorName's avatar" class="avatar"/>
	</div>

	<div class="main">

		<div class="header">

			<time-display
				class="time"
				utc-date="Model.ClubThread.CreationDate"
				formatter="d => d.FormatDateWithDaySuffix()">
			</time-display>

			@if (User.GetNumericId() == Model.ClubThread.AuthorId)
			{
				<div class="actions">
					<a title="Edit" class="action-btn" asp-page="./Edit" asp-route-id="@Model.ClubThread.Id">
						<icon icon="lucide:pencil"></icon>
					</a>
					<a title="Delete" class="action-btn" asp-page="./Delete" asp-route-id="@Model.ClubThread.Id">
						<icon icon="lucide:trash-2"></icon>
					</a>
				</div>
			}

		</div>

		<markdown class="body" preset="All">
			@Model.ClubThread.Body
		</markdown>

	</div>

</div>

<partial name="_Comments" model="@Model.ClubThread.CommentsThread"/>