@using Utils.Extensions
@using System.Globalization
@model BlogpostMinimal

<a asp-page="/Blog/Post" asp-route-id="@Model.Id" asp-route-slug="@Model.Slug" class="minimal active-border">
	<span class="title">@Model.Title</span>

	<div class="info">

		<span class="author">By @Model.AuthorUserName</span>

		<i class="dot"></i>

		<time class="date" datetime="@Model.PublishDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture)">
			@Model.PublishDate.FormatDateWithDaySuffix()
		</time>
	</div>
</a>