@using System.Globalization
@using Utils.Extensions
@model ChapterMinimal

<a asp-page="/Chapter" asp-route-id="@Model.Id" asp-route-slug="@Model.Slug" class="minimal active-border">
    <span class="title">@Model.Title</span>

    <div class="info">
        <span class="author">By @Model.StoryAuthorUserName</span>

        <i class="dot"></i>

        @if (Model.PublicationDate is not null)
        {
            var date = (DateTime)Model.PublicationDate;
            <time class="date" datetime="@date.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture)">
                @date.FormatDateWithDaySuffix()
            </time>
        }

        <i class="dot"></i>

        <span class="story">Story: @Model.StoryTitle</span>
    </div>
</a>