@page
@model Ogma3.Pages.Chapters.CreateModel

@{
    ViewData["Title"] = "Create Chapter";
}

<h1>@ViewData["Title"]</h1>

<h4>New chapter for <em>@Model.Story.Title</em></h4>

<div class="row">
    <div class="col-md-12">
        <form class="form" id="chapter" method="post">
        
            <div asp-validation-summary="All">
                <span>Please correct the following errors</span>
            </div>
            
            <input-counter ref="title"
                :min="@(CTConfig.CChapter.MinTitleLength)"
                :max="@CTConfig.CChapter.MaxTitleLength"
                validate-msg="@CTConfig.CChapter.ValidateLengthMsg"
                label="@nameof(Model.Input.Title)"
                value="@Model.Input.Title">
            </input-counter>
            
            <textarea-counter ref="body"
                              :min="@CTConfig.CChapter.MinBodyLength"
                              :max="@CTConfig.CChapter.MaxBodyLength"
                              validate-msg="@CTConfig.CChapter.ValidateLengthMsg"
                              label="@nameof(Model.Input.Body)"
                              value="@Model.Input.Body">
            </textarea-counter>
            
            <textarea-counter ref="start-notes"
                              :max="@CTConfig.CChapter.MaxNotesLength"
                              validate-msg="@CTConfig.CChapter.ValidateNoteLengthMsg"
                              label="@nameof(Model.Input.StartNotes)"
                              value="@Model.Input.StartNotes">
            </textarea-counter>
            
            <textarea-counter ref="end-notes"
                              :max="@CTConfig.CChapter.MaxNotesLength"
                              validate-msg="@CTConfig.CChapter.ValidateNoteLengthMsg"
                              label="@nameof(Model.Input.EndNotes)"
                              value="@Model.Input.EndNotes">
            </textarea-counter>
            
            <div class="o-form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/dist/components/input-counter-component.min.js" asp-append-version="true"></script>
    <script src="~/js/dist/components/textarea-counter-component.min.js" asp-append-version="true"></script> 
    <script src="~/js/dist/editors/chapter.min.js" asp-append-version="true"></script>
}
