@page
@model Ogma3.Pages.Chapters.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>@Model.Chapter.Title</h2>
<div>
    <h3>Are you sure you want to delete this?</h3>
    <hr/>
    
    <dl class="rows">
        <dt>
            Story:
        </dt>
        <dd>
            @Model.Chapter.StoryTitle
        </dd>
        <dt>
            Published on:
        </dt>
        <dd>
            @Model.Chapter.PublishDate
        </dd>
        <dt>
            Published status:
        </dt>
        <dd>
            @(Model.Chapter.IsPublished ? "Published" : "Not published")
        </dd>
        <dt>
            Comments:
        </dt>
        <dd>
            @Model.Chapter.CommentsThreadCommentsCount
        </dd>
    </dl>

    <form method="post" class="confirm">
        <input type="hidden" asp-for="Chapter.Id"/>
        <div class="buttons">
            <input type="submit" value="Delete" class="button accept red"/>
            <a asp-page="../Chapter" class="button cancel" asp-route-id="@Model.Chapter.Id" asp-route-slug="@Model.Chapter.Slug">Cancel</a>
        </div>
    </form>
</div>