@page
@model Ogma3.Pages.Chapters.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].IsPublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].StartNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].EndNotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Chapter) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndNotes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
